<template>
  <section id="inicio">
    <div class="aplications">
      <div class="aplications_header">
        <div class="aplications_header_intro">
          <h1 class="aplications_header_intro_title">Bienvenido a intranet</h1>
          <p class="aplications_header_intro_desc">Intranet funcionarios es el canal de comunicación oficial para la Gobernación del Meta, información al instante, optimización de procesos y contacto directo con funcionarios de la red.</p>
          <div class="aplications_header_intro_actions">
            <router-link to="/noticias">
              <svg width="16px" height="29px" style="color: green" viewBox="0 0 16 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                  <title>rocket icon</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Funcionarios" transform="translate(-28.000000, -260.000000)" stroke="#FFFFFF" stroke-width="0.3" fill="#9B9B9B">
                          <path d="M45.8422866,270.116164 C45.7814289,270.354378 45.7101384,270.589115 45.6318927,270.820375 C45.62146,270.856889 45.6092884,270.892535 45.5953781,270.926441 C45.1737209,272.120122 44.506894,273.23208 43.6566245,274.162334 L43.6566245,274.246665 L43.3540747,274.473577 L43.3540747,274.473577 L42.1473527,275.526416 C42.0751929,277.626008 41.211013,279.654309 39.7443416,281.141846 C39.2374837,281.655659 38.6688985,282.10079 38.0542354,282.462459 C37.8681846,282.571134 37.6621377,282.626775 37.454352,282.626775 C37.2952525,282.626775 37.1405,282.594607 36.9927027,282.532011 C36.6449442,282.382475 36.3849947,282.075578 36.2954469,281.709562 L35.9250841,280.231589 L35.5155985,280.383733 C34.6375084,280.710626 33.6055351,280.476758 32.9508797,279.81167 L30.6939272,277.521681 C30.0236227,276.840943 29.8027961,275.819403 30.1305585,274.917839 L30.280964,274.504876 L28.8212478,274.127558 C28.4587096,274.031924 28.1578985,273.768497 28.0144481,273.422477 C27.8701283,273.072111 27.8962102,272.66958 28.082261,272.343557 C28.4387134,271.71933 28.8760197,271.142051 29.3837471,270.627369 C30.8469409,269.141571 32.8500298,268.262611 34.9165845,268.188712 L36.0250647,266.886357 C36.9944415,265.906547 38.1863836,265.144087 39.47309,264.680699 C39.4765676,264.67809 39.5104741,264.66505 39.5522051,264.652878 C39.7808563,264.572024 40.0129851,264.500734 40.2485914,264.439007 C41.7874227,264.035607 43.4375367,264.041692 44.976368,264.459003 C45.3884618,264.571155 45.7118772,264.899787 45.8222905,265.317097 C46.2352537,266.884618 46.2422088,268.544295 45.8422866,270.116164 L45.8422866,270.116164 Z M37.4473969,280.655854 C37.7864614,280.420247 38.3446138,280.318528 38.6393391,280.020325 C39.4635267,279.183966 40.0468915,278.135474 40.3494414,277.005259 L37.4360947,279.516945 C37.4160986,279.535202 37.3900167,279.542157 37.3682818,279.556937 L37.4473969,280.655854 L37.4473969,280.655854 Z M30.4887497,271.74889 C30.1948938,272.047093 29.9297279,272.371377 29.6967297,272.716528 L31.3616235,272.831288 L33.1004159,270.223099 C31.9919357,270.531735 31.3077209,270.917747 30.4887497,271.74889 L30.4887497,271.74889 Z M44.3651824,265.938715 C43.1454196,265.64399 41.8508886,265.657031 40.6389503,265.97523 C40.4372504,266.027393 40.2398975,266.089121 40.0451527,266.157803 L39.992989,266.174321 C38.9410196,266.555117 37.9629488,267.177605 37.1622349,267.97571 L37.1170263,268.024396 L35.8781367,269.48846 L32.0023685,274.349254 L31.5972298,275.467297 C31.4798614,275.789843 31.5589764,276.155859 31.7989298,276.400159 L34.0567517,278.690149 C34.2906193,278.928364 34.6635902,279.011826 34.9765729,278.895327 L36.357174,278.378905 C36.3789089,278.354562 36.3997745,278.330219 36.4241176,278.308484 L40.4372504,274.847418 C40.5146267,274.781344 40.6015663,274.733527 40.6919835,274.703098 L42.3577466,273.24599 C43.1428114,272.436582 43.7557357,271.443732 44.1304455,270.371766 L44.1478334,270.32308 C44.2156463,270.124858 44.276504,269.923158 44.3286678,269.719719 C44.6433892,268.481699 44.6555608,267.179343 44.3651824,265.938715 L44.3651824,265.938715 Z M40.0268954,272.882582 C38.5897835,272.882582 37.4204456,271.695857 37.4204456,270.23701 C37.4204456,268.778163 38.5897835,267.591437 40.0268954,267.591437 C41.4648767,267.591437 42.6342146,268.778163 42.6342146,270.23701 C42.6342146,271.695857 41.4648767,272.882582 40.0268954,272.882582 L40.0268954,272.882582 Z M40.0268954,269.178085 C39.4522245,269.178085 38.98362,269.652776 38.98362,270.23701 C38.98362,270.821244 39.4522245,271.295934 40.0268954,271.295934 C40.6024357,271.295934 41.0710402,270.821244 41.0710402,270.23701 C41.0710402,269.652776 40.6024357,269.178085 40.0268954,269.178085 L40.0268954,269.178085 Z M28.999474,277.857267 C29.3046321,278.166773 29.3046321,278.669284 28.999474,278.978789 L27.4710755,280.528922 C27.3189311,280.684544 27.11897,280.76192 26.9190089,280.76192 C26.7190478,280.76192 26.5190866,280.684544 26.3660729,280.528922 C26.0609148,280.219417 26.0609148,279.717775 26.3660729,279.407401 L27.8944714,277.857267 C28.1996295,277.546893 28.6943159,277.546893 28.999474,277.857267 L28.999474,277.857267 Z M29.7593263,279.407401 C30.0644843,279.097896 30.5591708,279.097896 30.8643288,279.407401 C31.1694869,279.717775 31.1694869,280.219417 30.8643288,280.528922 L27.5406272,283.90131 C27.3884828,284.056062 27.1885217,284.133439 26.9885606,284.133439 C26.7877301,284.133439 26.5877689,284.056062 26.4356246,283.90131 C26.1304665,283.590935 26.1304665,283.089294 26.4356246,282.779789 L29.7593263,279.407401 L29.7593263,279.407401 Z M31.5441967,281.320073 C31.8493547,281.009698 32.3449106,281.010568 32.6491992,281.320073 C32.9543573,281.629578 32.9543573,282.132089 32.6491992,282.441594 L31.3990075,283.709173 C31.2468632,283.863926 31.046902,283.941302 30.8469409,283.941302 C30.6469798,283.941302 30.4470187,283.863926 30.2940049,283.709173 C29.9888469,283.399668 29.9888469,282.897157 30.2940049,282.587652 L31.5441967,281.320073 L31.5441967,281.320073 Z" id="rocket-icon" transform="translate(36.137204, 274.137300) rotate(-46.000000) translate(-36.137204, -274.137300) "></path>
                      </g>
                  </g>
              </svg>
              Noticias</router-link>
            <router-link to="/funcionarios">
              <svg width="24px" height="22px" viewBox="0 0 24 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                  <title>sessions icon</title>
                  <desc>Created with Sketch.</desc>
                  <defs></defs>
                  <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="ooto-Create-event" transform="translate(-42.000000, -257.000000)" fill="#9B9B9B">
                          <g id="main-nav" transform="translate(-5.000000, 0.000000)">
                              <g id="sessions-icon" transform="translate(47.000000, 257.000000)">
                                  <path d="M18.2036195,19.4762704 C17.9662595,19.4762704 17.7534013,19.3125236 17.7038875,19.0744378 C17.6477378,18.8026986 17.8253749,18.5374891 18.1015292,18.4822371 C20.4118327,18.0166137 21.5787248,16.8081023 22.3495066,15.9250753 C21.8079176,15.0646514 20.5869176,13.6682834 18.8672064,13.0851239 C16.8841023,12.413059 16.4583858,12.1568908 16.4583858,10.9619413 C16.4583858,10.7389242 16.6074376,10.5430309 16.8243795,10.4802445 C17.1480058,10.3863162 17.5517729,10.3838047 18.0193465,10.3812933 C18.7156023,10.3772749 19.5818385,10.372252 19.8651391,10.0010592 C20.1050513,9.68562069 20.0044924,9.46009218 19.5037395,8.70514931 C19.3812311,8.52030634 19.2520869,8.32441298 19.1280472,8.11445548 C18.1627834,6.47698791 18.0902992,5.75218248 18.0060747,4.91285478 L17.9897403,4.74810344 C17.7794343,2.73843848 16.6896203,1.64846774 14.7509255,1.50832864 C13.0562265,1.63038527 12.0062278,2.4847817 11.630025,4.04740796 C11.5651977,4.31764034 11.2895538,4.48389855 11.0154414,4.42010763 C10.7413289,4.35631672 10.5713486,4.08558205 10.6366864,3.81585196 C11.1165108,1.82226031 12.5656826,0.645393277 14.7167253,0.503245018 C14.7391851,0.502240437 14.7621554,0.502240437 14.7851258,0.503245018 C17.2444811,0.666489485 18.7431667,2.13669427 19.0050283,4.64513385 L19.0223837,4.81440581 C19.1004828,5.59647237 19.1571429,6.16154937 20.0111283,7.61015565 C20.1254694,7.80454214 20.2454255,7.98486449 20.3587457,8.15614561 C20.8360179,8.87592813 21.3770965,9.69164818 20.6813511,10.6033057 C20.0943319,11.3738196 18.9473473,11.3803494 18.0254719,11.3858746 C17.8636588,11.3868792 17.6998038,11.3873815 17.5517729,11.393409 C17.6870426,11.6038687 18.077538,11.7555605 19.1995104,12.1357946 C21.4301834,12.8912397 22.9043674,14.7637793 23.424007,15.7512828 C23.518951,15.9326097 23.4934284,16.1531153 23.3591797,16.3078208 L23.2815911,16.3977309 C22.4735463,17.3329961 21.1208498,18.8996407 18.3067307,19.4657222 C18.27202,19.4727543 18.2373093,19.4762704 18.2036195,19.4762704" id="Fill-6"></path>
                                  <path d="M9.26295928,21.799867 C4.14619339,21.799867 0.553635702,21.0514539 0.403052508,21.0193073 C0.159056689,20.9680736 -0.0109236622,20.7500795 0.000306270903,20.5044593 C0.197340552,16.4374118 2.77103704,15.1751554 4.6903347,14.5789364 C6.12164072,14.1344091 6.89395385,13.4045808 6.90161062,13.3970464 C7.10272851,13.2031622 7.42533386,13.206176 7.6228786,13.4040785 C7.81940242,13.6014787 7.81838152,13.9179218 7.61828453,14.1123083 C7.58102157,14.1489755 6.67905376,15.0144224 4.99762651,15.5368047 C3.20492082,16.093845 1.35402366,17.078837 1.05234682,20.1192024 C2.15594298,20.3155981 5.26459264,20.7952856 9.26295928,20.7952856 C13.2613259,20.7952856 16.3699756,20.3155981 17.4735717,20.1192024 C17.1713844,17.078837 15.3209977,16.093845 13.5282921,15.5373069 C11.8463543,15.0144224 10.944897,14.1489755 10.9071236,14.1123083 C10.7070266,13.9174196 10.7054952,13.5989673 10.9035504,13.401567 C11.1010952,13.2051714 11.4237005,13.2036645 11.6243079,13.3970464 C11.6452365,13.417138 12.4160182,14.1379252 13.8355839,14.5794386 C15.7543711,15.1751554 18.328578,16.4369095 18.5256123,20.5044593 C18.5368422,20.7500795 18.3668619,20.9680736 18.1228661,21.0193073 C17.9722829,21.0514539 14.3792147,21.799867 9.26295928,21.799867" id="Fill-3"></path>
                                  <path d="M5.44330171,10.1897698 C5.45657345,10.1978065 5.4708661,10.2063454 5.48515874,10.2148844 C5.67861986,10.333425 5.8465584,10.4358923 5.90934394,10.6508727 C6.10790957,11.3309742 7.45345974,13.8670398 9.26301033,13.8670398 C11.0725609,13.8670398 12.4176006,11.3309742 12.6166767,10.6503704 C12.6794622,10.4358923 12.8468903,10.333425 13.0408619,10.2148844 C13.0551546,10.2063454 13.0689367,10.1978065 13.0822085,10.1897698 C13.5661165,9.31377491 13.4681098,8.95614395 13.4247214,8.86522934 C13.3757181,8.76175747 13.2751592,8.72860628 13.2741383,8.72860628 C13.0219752,8.68289783 12.8433172,8.45988077 12.8570994,8.20773086 C12.8576098,8.19718276 12.908655,7.18607165 12.6595546,6.26085224 C12.6355634,6.17747199 12.0112812,4.10702986 9.26301033,4.10702986 C6.48768549,4.10702986 5.87106008,6.2412629 5.86544511,6.2628614 C5.61685523,7.18607165 5.66790038,8.19718276 5.66841083,8.20773086 C5.68219302,8.45988077 5.50353499,8.68289783 5.25137195,8.72860628 C5.24677788,8.73061544 5.14519804,8.76175747 5.09619469,8.87527516 C5.05637947,8.96769664 4.96858181,9.32934592 5.44330171,10.1897698 M9.26301033,14.8716211 C6.80875949,14.8716211 5.32385606,12.0000254 4.98338491,11.0908793 C4.97113407,11.0833449 4.95837278,11.0763129 4.9466324,11.0682762 C4.7929865,10.9743479 4.68170807,10.9070409 4.60462989,10.7734316 C4.0467064,9.80149914 3.90224862,9.01591654 4.17585063,8.44029144 C4.29784854,8.18362091 4.47650656,8.01886957 4.64291375,7.91389082 C4.64546601,7.48845063 4.68221852,6.73551692 4.8792528,6.00367942 C5.15438616,4.99859579 6.42387906,3.10244853 9.26301033,3.10244853 C12.1021416,3.10244853 13.3716345,4.99859579 13.6457469,6.00167025 C13.8438021,6.73501463 13.8805546,7.48794834 13.8831069,7.91389082 C14.0490036,8.01886957 14.2276617,8.18362091 14.3496596,8.44029144 C14.6232616,9.01591654 14.4793143,9.80149914 13.9208803,10.7729293 C13.8443126,10.9070409 13.7330342,10.9743479 13.5788778,11.0682762 C13.5671374,11.0763129 13.5548866,11.0833449 13.5426357,11.0908793 C13.2011437,12.0005277 11.7167507,14.8716211 9.26301033,14.8716211" id="Fill-1"></path>
                              </g>
                          </g>
                      </g>
                  </g>
              </svg>
              Funcionarios</router-link>
          </div>

        <router-link to="/manual" class="aplications_header_intro_guide">Manual de usuario</router-link>
        </div>
        <div class="aplications_header_photo">
          <img src="../assets/computer.png" alt="">
        </div>
      </div>

      <div class="aplications_list">
        <router-link :to="aplication.url"  :class="{aplications_item: true, hidden_mobile: aplication.responsive, aplications_margin: true}" v-for="aplication in aplications" key="aplication" style="">
          <div :style="`background-image: url(${aplication.fondo})`" :class="{aplications_item: true, hidden_mobile: aplication.responsive}">
            <div class="aplications_list_fondo" >
              <button class="aplications_item_action">{{ aplication.text }}</button>
            </div>
          </div>

        </router-link>
      </div>

      <div class="apps_gober">
        <div class="apps_gober_titulo">
          <br><br />
          <h1>Aplicaciones Gobernación del Meta</h1><br />
          <p>Accede a diferentes aplicaciones exclusivas para uso de funcionarios de la Entidad </p>
        </div>


          <div class="apps_gober_apps">
            <a :href="aplication.url" target="_blank" class="apps_gober_card" v-for="aplication in aplicationsGobernacion" key="aplication" >
              <el-card :body-style="{ padding: '0px' }">
                <img :src="aplication.photo" class="image" >
                <div style="padding: 14px;">
                  <span>{{aplication.text}}</span>
                  <div class="bottom clearfix">
                    <el-button type="text" class="button">Visitar Web</el-button>
                  </div>
                </div>
              </el-card>
            </a>
          </div>
      </div>

    </div>
    <agenda></agenda>
  </section>
</template>

<script>
import agenda from './agenda.vue'
export default {
  components: { agenda },
  data() {
    return {
      aplications: [
        {
          photo: 'aplication1.png',
          text: 'Gestión de Documentos',
          url: 'documentos',
          responsive: true,
          fondo: 'https://burst.shopifycdn.com/photos/sticky-note-to-ship-code_925x.jpg'
        },{
          photo: 'aplication2.png',
          text: 'Directorio funcionarios',
          url: 'funcionarios',
          responsive: false,
          fondo: 'https://burst.shopifycdn.com/photos/software-programming-plan_925x.jpg'
        },{
          photo: 'aplication3.png',
          text: 'Agenda de eventos',
          url: 'eventos',
          responsive: false,
          fondo: 'https://burst.shopifycdn.com/photos/feedback-for-web-design-mockups_925x.jpg'
        },{
          photo: 'aplication4.png',
          text: 'Noticias',
          url: 'noticias',
          responsive: false,
          fondo: 'https://images.pexels.com/photos/6972/summer-office-student-work.jpg?w=1260&h=750&auto=compress&cs=tinysrgb'
        },{
          photo: 'aplication5.png',
          text: 'Mensajeria',
          url: 'chat',
          responsive: false,
          fondo: 'https://images.pexels.com/photos/684385/pexels-photo-684385.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb'
        },{
          photo: 'aplication6.png',
          text: 'Ajustes',
          url: 'ajustes',
          responsive: true,
          fondo: 'https://images.pexels.com/photos/265036/pexels-photo-265036.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb'
        }
      ],
      aplicationsGobernacion: [
        {
          photo: 'https://images.unsplash.com/photo-1434626881859-194d67b2b86f?auto=format&fit=crop&w=1353&q=80',
          text: 'Hacienda',
          url: 'http://consultahacienda.meta.gov.co/PCTWebITransEconomica/',

        },{
          photo: 'https://images.unsplash.com/photo-1493970866116-fe0cad1a5727?auto=format&fit=crop&w=1350&q=80',
          text: 'Gob-Meta',
          url: 'http://humano.meta.gov.co/HumanoEL/Ingresar.aspx?Ent=Gobmetaweb',

        },{
          photo: 'https://images.unsplash.com/photo-1506701554939-d0aa4c26d79c?auto=format&fit=crop&w=1352&q=80',
          text: 'U-Contratación',
          url: 'http://humano.meta.gov.co/HumanoEL/Ingresar.aspx?Ent=Ucontratacionweb',

        },{
          photo: 'https://images.unsplash.com/photo-1497048679117-1a29644559e3?auto=format&fit=crop&w=1500&q=80',
          text: 'Licores',
          url: 'http://humano.meta.gov.co/HumanoEL/Ingresar.aspx?Ent=Licoresweb',

        },
      ]
    }
  },
  methods: {
    setPhotoAplication(urlPhoto){
      return require(`../assets/${urlPhoto}`);
    }
  }
}
</script>

<style scoped>
  #inicio{
    display: flex;
    flex-wrap: wrap;
  }
  .aplications{
    width: calc(100% - 252px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aplications_header{
    width: 100%;
    height: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(101deg, rgba(223, 228, 230, 0), rgba(193, 201, 209, 0.53));
    box-shadow: 2px 2px 7px 0 rgba(155, 155, 155, 0.2);
  }
  .aplications_header_photo{
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .aplications_header_intro{
    max-width: 400px;
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  .aplications_header_intro_title{
    font-size: 30px;
    font-weight: 500;
    color: #4a4a4a;
  }
  .aplications_header_intro_desc{
    font-size: 14px;
    letter-spacing: -0.2px;
    color: #4a4a4a;
  }
  .aplications_header_intro_actions{
    display: flex;
  }
  .aplications_header_intro_actions a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-style: none;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    border: 1px solid #9b9b9b;
    border-radius: 6px;
    padding: 5px 20px;
    margin-right: 15px;
    transition: .3s;
  }
  .aplications_header_intro_actions a svg{
    margin-right: 12px;
  }
  .aplications_header_intro_guide{
    font-size: 14px;
    font-weight: 600;
    color: #3b7adb;
  }
  .aplications_list{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px
  }
  .aplications_list2{
    margin-top: 50px;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .aplications_item{
    max-width: 300px;
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 2px 2px 7px 0 rgba(155, 155, 155, 0.5);
    background-image: linear-gradient(178deg, rgba(234, 236, 237, 0.21), rgba(255, 252, 252, 0.99), #fffcfc);
    background-size: cover, contain ;
    background-position: center;
  }
  .aplications_margin{
    margin-bottom: 10px
  }

  .aplications_item2:hover{
    background-image: linear-gradient(178deg, rgba(234, 236, 237, 0.21), rgba(255, 252, 252, 0.99), #fffcfc);
    box-shadow: 2px 2px 7px 0 rgba(51, 133, 209, 0.9);
  }
  .aplications_item img{
    max-width: 50px;
  }
  .aplications_item2 img{
    max-width: 90px;
  }
  .aplications_item_action{
    padding: 12px 40px;
    border-style: none;
    border-radius: 18px;
    background-color: transparent;
    color: #1f3450;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    outline: none;
    transition: .3s;
  }
  .aplications_item_action2{
    padding: 12px 40px;
    border-style: none;
    border-radius: 18px;
    border: solid 1px #19324f;
    background-color: transparent;
    color: #091f36;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: .3s;
  }

  .aplications_list_fondo{
    display: flex;
    height: 100%;
    width: 100%;
    background: rgba(61, 61, 102, 0.4);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
  }
  .aplications_list_fondo img{
    max-width: 50px
  }
  .aplications_list_fondo button{
    background: rgba(224, 226, 235, 0.8);

  }
  .aplications_list_contenido{
    position: absolute;
  }
  .aplications_item_action:hover{
    transform: scale(0.95);
    background: rgba(110, 111, 116, 0.8);
    color: #FFF
 }
 .apps_gober{
   display: flex;
   max-width: 1500px;
   width: 100%;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   background-image: linear-gradient(101deg, rgba(223, 228, 230, 0), rgba(193, 201, 209, 0.53));
   padding-bottom: 50px
 }
 .apps_gober_titulo{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin: 10px
 }
 .apps_gober_apps{
   display: flex;
   justify-content: space-around;
   padding: 10px;
   flex-wrap: wrap
 }
 .apps_gober_card{
   display: flex;
   flex: 1;
   transition: 1s
 }
 .apps_gober_card:hover{
   filter: opacity(80%);
   transform: scale(1.05);
 }
 .el-card{
   max-width: 300px;
   min-width: 150px;
   width: 100%;
   margin: 10px
 }
    .bottom {
      margin-top: 13px;
      line-height: 12px;
    }

    .button {
      padding: 0;
      float: right;
    }

    .image {
      width: 100%;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
  @media(max-width: 1250px){
    .aplications_header_photo img{
      width: 250px;
    }
  }
  @media(max-width: 1150px){
    .aplications_header_photo{
      display: none;
    }
  }
  @media(max-width: 800px){
    .aplications{
      width: 100%;
    }
    .hidden_mobile{
      display: none;
    }
  }
  @media(max-width: 350px){
    .aplications_header_intro{
      height: initial;
    }
    .aplications_header_intro_actions{
      flex-wrap: wrap;
    }
    .aplications_header_intro_actions a{
      margin: 5px;
    }
  }
</style>
