<template>
  <div id="menuLateral" class="" v-on:click="toggleMenuLateral">
    <div class="menuLateral">
      <div class="menuLateral_header_close">
        <i class="material-icons" id="closeMenuLateral" v-on:click="toggleMenuLateral">close</i>
      </div>
      <a href="http://www.meta.gov.co/" target="_blank" class="menuLateral_web">meta.gov.co</a>
      <nav class="menuLateral_navigation">
        <ul class="menuLateral_navigation_list">
          <span id="postionInNavigation" class="menuLateral_navigation__efffect"></span>
          <li class="menuLateral_navigation__item"><router-link to="/inicio">
            <svg width="23px" height="18px" viewBox="0 0 23 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>dashboard icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-24.000000, -185.000000)" fill="#A2A2A2">
                        <g id="icons" transform="translate(24.000000, 185.000000)">
                            <g id="dashboard-icon">
                                <path d="M1.96856071,4.66609816 L11.4833143,8.27267244 L20.997546,4.66609816 L11.4833143,1.05952388 L1.96856071,4.66609816 Z M11.4833143,9.33219631 C11.4191136,9.33219631 11.3549129,9.32094654 11.2943659,9.29793565 L0.333269525,5.14319071 C0.132316092,5.06648773 0.000260978485,4.87728704 0.000260978485,4.66609816 C0.000260978485,4.45490928 0.132316092,4.26570858 0.333269525,4.1890056 L11.2943659,0.0342606659 C11.4159819,-0.0112497709 11.5501248,-0.0112497709 11.6717408,0.0342606659 L22.6328372,4.1890056 C22.8337906,4.26570858 22.9663677,4.45490928 22.9663677,4.66609816 C22.9663677,4.87728704 22.8337906,5.06648773 22.6328372,5.14319071 L11.6717408,9.29793565 C11.6111938,9.32094654 11.5469931,9.33219631 11.4833143,9.33219631 L11.4833143,9.33219631 Z" id="Fill-1"></path>
                                <path d="M11.4830533,13.806537 C11.4193746,13.806537 11.3551739,13.7952872 11.2946269,13.7722763 L0.333530504,9.61753141 C0.13257707,9.54082843 0,9.35162774 0,9.14043886 C0,8.92924997 0.13257707,8.74004928 0.333530504,8.6633463 L5.81407869,6.58622951 C6.08288653,6.48447022 6.38509962,6.61486529 6.48949101,6.8782122 C6.59336045,7.14207046 6.45973946,7.43814398 6.19093162,7.53990327 L1.96829973,9.14043886 L11.4830533,12.7470131 L20.997807,9.14043886 L16.7751751,7.53990327 C16.5063672,7.43814398 16.3727462,7.14207046 16.4766157,6.8782122 C16.5810071,6.61537664 16.8821762,6.48498157 17.152028,6.58622951 L22.6325762,8.6633463 C22.8335296,8.74004928 22.9661067,8.92924997 22.9661067,9.14043886 C22.9661067,9.35162774 22.8335296,9.54082843 22.6325762,9.61753141 L11.6714798,13.7722763 C11.6109328,13.7952872 11.5467321,13.806537 11.4830533,13.806537" id="Fill-4"></path>
                                <path d="M11.4830533,17.8973628 C11.4193746,17.8973628 11.3551739,17.886113 11.2946269,17.8631021 L0.333530504,13.7083572 C0.13257707,13.6316542 0,13.4424535 0,13.2312646 C0,13.0200758 0.13257707,12.8308751 0.333530504,12.7541721 L5.55310021,10.7726783 C5.82243,10.6704077 6.12412113,10.8013141 6.22851253,11.0651724 C6.33238196,11.3280079 6.19876098,11.6240815 5.92995314,11.7268635 L1.96777778,13.2307533 L11.4830533,16.8378389 L20.9983289,13.2307533 L17.0361536,11.7268635 C16.7673457,11.6240815 16.6337247,11.3280079 16.7375942,11.0651724 C16.8419856,10.8013141 17.1441986,10.6709191 17.4130065,10.7726783 L22.6325762,12.7541721 C22.8335296,12.8308751 22.9661067,13.0200758 22.9661067,13.2312646 C22.9661067,13.4424535 22.8335296,13.6316542 22.6325762,13.7083572 L11.6714798,17.8631021 C11.6109328,17.886113 11.5467321,17.8973628 11.4830533,17.8973628" id="Fill-6"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p>Inicio</p></router-link>
          </li>
          <li class="menuLateral_navigation__item"><router-link to="/noticias">
            <svg width="16px" height="29px" viewBox="0 0 16 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>rocket icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-28.000000, -260.000000)" stroke="#FFFFFF" stroke-width="0.3" fill="#9B9B9B">
                        <path d="M45.8422866,270.116164 C45.7814289,270.354378 45.7101384,270.589115 45.6318927,270.820375 C45.62146,270.856889 45.6092884,270.892535 45.5953781,270.926441 C45.1737209,272.120122 44.506894,273.23208 43.6566245,274.162334 L43.6566245,274.246665 L43.3540747,274.473577 L43.3540747,274.473577 L42.1473527,275.526416 C42.0751929,277.626008 41.211013,279.654309 39.7443416,281.141846 C39.2374837,281.655659 38.6688985,282.10079 38.0542354,282.462459 C37.8681846,282.571134 37.6621377,282.626775 37.454352,282.626775 C37.2952525,282.626775 37.1405,282.594607 36.9927027,282.532011 C36.6449442,282.382475 36.3849947,282.075578 36.2954469,281.709562 L35.9250841,280.231589 L35.5155985,280.383733 C34.6375084,280.710626 33.6055351,280.476758 32.9508797,279.81167 L30.6939272,277.521681 C30.0236227,276.840943 29.8027961,275.819403 30.1305585,274.917839 L30.280964,274.504876 L28.8212478,274.127558 C28.4587096,274.031924 28.1578985,273.768497 28.0144481,273.422477 C27.8701283,273.072111 27.8962102,272.66958 28.082261,272.343557 C28.4387134,271.71933 28.8760197,271.142051 29.3837471,270.627369 C30.8469409,269.141571 32.8500298,268.262611 34.9165845,268.188712 L36.0250647,266.886357 C36.9944415,265.906547 38.1863836,265.144087 39.47309,264.680699 C39.4765676,264.67809 39.5104741,264.66505 39.5522051,264.652878 C39.7808563,264.572024 40.0129851,264.500734 40.2485914,264.439007 C41.7874227,264.035607 43.4375367,264.041692 44.976368,264.459003 C45.3884618,264.571155 45.7118772,264.899787 45.8222905,265.317097 C46.2352537,266.884618 46.2422088,268.544295 45.8422866,270.116164 L45.8422866,270.116164 Z M37.4473969,280.655854 C37.7864614,280.420247 38.3446138,280.318528 38.6393391,280.020325 C39.4635267,279.183966 40.0468915,278.135474 40.3494414,277.005259 L37.4360947,279.516945 C37.4160986,279.535202 37.3900167,279.542157 37.3682818,279.556937 L37.4473969,280.655854 L37.4473969,280.655854 Z M30.4887497,271.74889 C30.1948938,272.047093 29.9297279,272.371377 29.6967297,272.716528 L31.3616235,272.831288 L33.1004159,270.223099 C31.9919357,270.531735 31.3077209,270.917747 30.4887497,271.74889 L30.4887497,271.74889 Z M44.3651824,265.938715 C43.1454196,265.64399 41.8508886,265.657031 40.6389503,265.97523 C40.4372504,266.027393 40.2398975,266.089121 40.0451527,266.157803 L39.992989,266.174321 C38.9410196,266.555117 37.9629488,267.177605 37.1622349,267.97571 L37.1170263,268.024396 L35.8781367,269.48846 L32.0023685,274.349254 L31.5972298,275.467297 C31.4798614,275.789843 31.5589764,276.155859 31.7989298,276.400159 L34.0567517,278.690149 C34.2906193,278.928364 34.6635902,279.011826 34.9765729,278.895327 L36.357174,278.378905 C36.3789089,278.354562 36.3997745,278.330219 36.4241176,278.308484 L40.4372504,274.847418 C40.5146267,274.781344 40.6015663,274.733527 40.6919835,274.703098 L42.3577466,273.24599 C43.1428114,272.436582 43.7557357,271.443732 44.1304455,270.371766 L44.1478334,270.32308 C44.2156463,270.124858 44.276504,269.923158 44.3286678,269.719719 C44.6433892,268.481699 44.6555608,267.179343 44.3651824,265.938715 L44.3651824,265.938715 Z M40.0268954,272.882582 C38.5897835,272.882582 37.4204456,271.695857 37.4204456,270.23701 C37.4204456,268.778163 38.5897835,267.591437 40.0268954,267.591437 C41.4648767,267.591437 42.6342146,268.778163 42.6342146,270.23701 C42.6342146,271.695857 41.4648767,272.882582 40.0268954,272.882582 L40.0268954,272.882582 Z M40.0268954,269.178085 C39.4522245,269.178085 38.98362,269.652776 38.98362,270.23701 C38.98362,270.821244 39.4522245,271.295934 40.0268954,271.295934 C40.6024357,271.295934 41.0710402,270.821244 41.0710402,270.23701 C41.0710402,269.652776 40.6024357,269.178085 40.0268954,269.178085 L40.0268954,269.178085 Z M28.999474,277.857267 C29.3046321,278.166773 29.3046321,278.669284 28.999474,278.978789 L27.4710755,280.528922 C27.3189311,280.684544 27.11897,280.76192 26.9190089,280.76192 C26.7190478,280.76192 26.5190866,280.684544 26.3660729,280.528922 C26.0609148,280.219417 26.0609148,279.717775 26.3660729,279.407401 L27.8944714,277.857267 C28.1996295,277.546893 28.6943159,277.546893 28.999474,277.857267 L28.999474,277.857267 Z M29.7593263,279.407401 C30.0644843,279.097896 30.5591708,279.097896 30.8643288,279.407401 C31.1694869,279.717775 31.1694869,280.219417 30.8643288,280.528922 L27.5406272,283.90131 C27.3884828,284.056062 27.1885217,284.133439 26.9885606,284.133439 C26.7877301,284.133439 26.5877689,284.056062 26.4356246,283.90131 C26.1304665,283.590935 26.1304665,283.089294 26.4356246,282.779789 L29.7593263,279.407401 L29.7593263,279.407401 Z M31.5441967,281.320073 C31.8493547,281.009698 32.3449106,281.010568 32.6491992,281.320073 C32.9543573,281.629578 32.9543573,282.132089 32.6491992,282.441594 L31.3990075,283.709173 C31.2468632,283.863926 31.046902,283.941302 30.8469409,283.941302 C30.6469798,283.941302 30.4470187,283.863926 30.2940049,283.709173 C29.9888469,283.399668 29.9888469,282.897157 30.2940049,282.587652 L31.5441967,281.320073 L31.5441967,281.320073 Z" id="rocket-icon" transform="translate(36.137204, 274.137300) rotate(-46.000000) translate(-36.137204, -274.137300) "></path>
                    </g>
                </g>
            </svg>
            <p>Noticias</p></router-link>
          </li>
          <li class="menuLateral_navigation__item"><router-link to="/circulares">
            <svg width="16px" height="29px" viewBox="0 0 16 29" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>rocket icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-28.000000, -260.000000)" stroke="#FFFFFF" stroke-width="0.3" fill="#9B9B9B">
                        <path d="M45.8422866,270.116164 C45.7814289,270.354378 45.7101384,270.589115 45.6318927,270.820375 C45.62146,270.856889 45.6092884,270.892535 45.5953781,270.926441 C45.1737209,272.120122 44.506894,273.23208 43.6566245,274.162334 L43.6566245,274.246665 L43.3540747,274.473577 L43.3540747,274.473577 L42.1473527,275.526416 C42.0751929,277.626008 41.211013,279.654309 39.7443416,281.141846 C39.2374837,281.655659 38.6688985,282.10079 38.0542354,282.462459 C37.8681846,282.571134 37.6621377,282.626775 37.454352,282.626775 C37.2952525,282.626775 37.1405,282.594607 36.9927027,282.532011 C36.6449442,282.382475 36.3849947,282.075578 36.2954469,281.709562 L35.9250841,280.231589 L35.5155985,280.383733 C34.6375084,280.710626 33.6055351,280.476758 32.9508797,279.81167 L30.6939272,277.521681 C30.0236227,276.840943 29.8027961,275.819403 30.1305585,274.917839 L30.280964,274.504876 L28.8212478,274.127558 C28.4587096,274.031924 28.1578985,273.768497 28.0144481,273.422477 C27.8701283,273.072111 27.8962102,272.66958 28.082261,272.343557 C28.4387134,271.71933 28.8760197,271.142051 29.3837471,270.627369 C30.8469409,269.141571 32.8500298,268.262611 34.9165845,268.188712 L36.0250647,266.886357 C36.9944415,265.906547 38.1863836,265.144087 39.47309,264.680699 C39.4765676,264.67809 39.5104741,264.66505 39.5522051,264.652878 C39.7808563,264.572024 40.0129851,264.500734 40.2485914,264.439007 C41.7874227,264.035607 43.4375367,264.041692 44.976368,264.459003 C45.3884618,264.571155 45.7118772,264.899787 45.8222905,265.317097 C46.2352537,266.884618 46.2422088,268.544295 45.8422866,270.116164 L45.8422866,270.116164 Z M37.4473969,280.655854 C37.7864614,280.420247 38.3446138,280.318528 38.6393391,280.020325 C39.4635267,279.183966 40.0468915,278.135474 40.3494414,277.005259 L37.4360947,279.516945 C37.4160986,279.535202 37.3900167,279.542157 37.3682818,279.556937 L37.4473969,280.655854 L37.4473969,280.655854 Z M30.4887497,271.74889 C30.1948938,272.047093 29.9297279,272.371377 29.6967297,272.716528 L31.3616235,272.831288 L33.1004159,270.223099 C31.9919357,270.531735 31.3077209,270.917747 30.4887497,271.74889 L30.4887497,271.74889 Z M44.3651824,265.938715 C43.1454196,265.64399 41.8508886,265.657031 40.6389503,265.97523 C40.4372504,266.027393 40.2398975,266.089121 40.0451527,266.157803 L39.992989,266.174321 C38.9410196,266.555117 37.9629488,267.177605 37.1622349,267.97571 L37.1170263,268.024396 L35.8781367,269.48846 L32.0023685,274.349254 L31.5972298,275.467297 C31.4798614,275.789843 31.5589764,276.155859 31.7989298,276.400159 L34.0567517,278.690149 C34.2906193,278.928364 34.6635902,279.011826 34.9765729,278.895327 L36.357174,278.378905 C36.3789089,278.354562 36.3997745,278.330219 36.4241176,278.308484 L40.4372504,274.847418 C40.5146267,274.781344 40.6015663,274.733527 40.6919835,274.703098 L42.3577466,273.24599 C43.1428114,272.436582 43.7557357,271.443732 44.1304455,270.371766 L44.1478334,270.32308 C44.2156463,270.124858 44.276504,269.923158 44.3286678,269.719719 C44.6433892,268.481699 44.6555608,267.179343 44.3651824,265.938715 L44.3651824,265.938715 Z M40.0268954,272.882582 C38.5897835,272.882582 37.4204456,271.695857 37.4204456,270.23701 C37.4204456,268.778163 38.5897835,267.591437 40.0268954,267.591437 C41.4648767,267.591437 42.6342146,268.778163 42.6342146,270.23701 C42.6342146,271.695857 41.4648767,272.882582 40.0268954,272.882582 L40.0268954,272.882582 Z M40.0268954,269.178085 C39.4522245,269.178085 38.98362,269.652776 38.98362,270.23701 C38.98362,270.821244 39.4522245,271.295934 40.0268954,271.295934 C40.6024357,271.295934 41.0710402,270.821244 41.0710402,270.23701 C41.0710402,269.652776 40.6024357,269.178085 40.0268954,269.178085 L40.0268954,269.178085 Z M28.999474,277.857267 C29.3046321,278.166773 29.3046321,278.669284 28.999474,278.978789 L27.4710755,280.528922 C27.3189311,280.684544 27.11897,280.76192 26.9190089,280.76192 C26.7190478,280.76192 26.5190866,280.684544 26.3660729,280.528922 C26.0609148,280.219417 26.0609148,279.717775 26.3660729,279.407401 L27.8944714,277.857267 C28.1996295,277.546893 28.6943159,277.546893 28.999474,277.857267 L28.999474,277.857267 Z M29.7593263,279.407401 C30.0644843,279.097896 30.5591708,279.097896 30.8643288,279.407401 C31.1694869,279.717775 31.1694869,280.219417 30.8643288,280.528922 L27.5406272,283.90131 C27.3884828,284.056062 27.1885217,284.133439 26.9885606,284.133439 C26.7877301,284.133439 26.5877689,284.056062 26.4356246,283.90131 C26.1304665,283.590935 26.1304665,283.089294 26.4356246,282.779789 L29.7593263,279.407401 L29.7593263,279.407401 Z M31.5441967,281.320073 C31.8493547,281.009698 32.3449106,281.010568 32.6491992,281.320073 C32.9543573,281.629578 32.9543573,282.132089 32.6491992,282.441594 L31.3990075,283.709173 C31.2468632,283.863926 31.046902,283.941302 30.8469409,283.941302 C30.6469798,283.941302 30.4470187,283.863926 30.2940049,283.709173 C29.9888469,283.399668 29.9888469,282.897157 30.2940049,282.587652 L31.5441967,281.320073 L31.5441967,281.320073 Z" id="rocket-icon" transform="translate(36.137204, 274.137300) rotate(-46.000000) translate(-36.137204, -274.137300) "></path>
                    </g>
                </g>
            </svg>
            <p>Circulares</p></router-link>
          </li>
          <li class="menuLateral_navigation__item"><router-link to="/funcionarios">
            <svg width="24px" height="22px" viewBox="0 0 24 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>sessions icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="ooto-Create-event" transform="translate(-42.000000, -257.000000)" fill="#9B9B9B">
                        <g id="main-nav" transform="translate(-5.000000, 0.000000)">
                            <g id="sessions-icon" transform="translate(47.000000, 257.000000)">
                                <path d="M18.2036195,19.4762704 C17.9662595,19.4762704 17.7534013,19.3125236 17.7038875,19.0744378 C17.6477378,18.8026986 17.8253749,18.5374891 18.1015292,18.4822371 C20.4118327,18.0166137 21.5787248,16.8081023 22.3495066,15.9250753 C21.8079176,15.0646514 20.5869176,13.6682834 18.8672064,13.0851239 C16.8841023,12.413059 16.4583858,12.1568908 16.4583858,10.9619413 C16.4583858,10.7389242 16.6074376,10.5430309 16.8243795,10.4802445 C17.1480058,10.3863162 17.5517729,10.3838047 18.0193465,10.3812933 C18.7156023,10.3772749 19.5818385,10.372252 19.8651391,10.0010592 C20.1050513,9.68562069 20.0044924,9.46009218 19.5037395,8.70514931 C19.3812311,8.52030634 19.2520869,8.32441298 19.1280472,8.11445548 C18.1627834,6.47698791 18.0902992,5.75218248 18.0060747,4.91285478 L17.9897403,4.74810344 C17.7794343,2.73843848 16.6896203,1.64846774 14.7509255,1.50832864 C13.0562265,1.63038527 12.0062278,2.4847817 11.630025,4.04740796 C11.5651977,4.31764034 11.2895538,4.48389855 11.0154414,4.42010763 C10.7413289,4.35631672 10.5713486,4.08558205 10.6366864,3.81585196 C11.1165108,1.82226031 12.5656826,0.645393277 14.7167253,0.503245018 C14.7391851,0.502240437 14.7621554,0.502240437 14.7851258,0.503245018 C17.2444811,0.666489485 18.7431667,2.13669427 19.0050283,4.64513385 L19.0223837,4.81440581 C19.1004828,5.59647237 19.1571429,6.16154937 20.0111283,7.61015565 C20.1254694,7.80454214 20.2454255,7.98486449 20.3587457,8.15614561 C20.8360179,8.87592813 21.3770965,9.69164818 20.6813511,10.6033057 C20.0943319,11.3738196 18.9473473,11.3803494 18.0254719,11.3858746 C17.8636588,11.3868792 17.6998038,11.3873815 17.5517729,11.393409 C17.6870426,11.6038687 18.077538,11.7555605 19.1995104,12.1357946 C21.4301834,12.8912397 22.9043674,14.7637793 23.424007,15.7512828 C23.518951,15.9326097 23.4934284,16.1531153 23.3591797,16.3078208 L23.2815911,16.3977309 C22.4735463,17.3329961 21.1208498,18.8996407 18.3067307,19.4657222 C18.27202,19.4727543 18.2373093,19.4762704 18.2036195,19.4762704" id="Fill-6"></path>
                                <path d="M9.26295928,21.799867 C4.14619339,21.799867 0.553635702,21.0514539 0.403052508,21.0193073 C0.159056689,20.9680736 -0.0109236622,20.7500795 0.000306270903,20.5044593 C0.197340552,16.4374118 2.77103704,15.1751554 4.6903347,14.5789364 C6.12164072,14.1344091 6.89395385,13.4045808 6.90161062,13.3970464 C7.10272851,13.2031622 7.42533386,13.206176 7.6228786,13.4040785 C7.81940242,13.6014787 7.81838152,13.9179218 7.61828453,14.1123083 C7.58102157,14.1489755 6.67905376,15.0144224 4.99762651,15.5368047 C3.20492082,16.093845 1.35402366,17.078837 1.05234682,20.1192024 C2.15594298,20.3155981 5.26459264,20.7952856 9.26295928,20.7952856 C13.2613259,20.7952856 16.3699756,20.3155981 17.4735717,20.1192024 C17.1713844,17.078837 15.3209977,16.093845 13.5282921,15.5373069 C11.8463543,15.0144224 10.944897,14.1489755 10.9071236,14.1123083 C10.7070266,13.9174196 10.7054952,13.5989673 10.9035504,13.401567 C11.1010952,13.2051714 11.4237005,13.2036645 11.6243079,13.3970464 C11.6452365,13.417138 12.4160182,14.1379252 13.8355839,14.5794386 C15.7543711,15.1751554 18.328578,16.4369095 18.5256123,20.5044593 C18.5368422,20.7500795 18.3668619,20.9680736 18.1228661,21.0193073 C17.9722829,21.0514539 14.3792147,21.799867 9.26295928,21.799867" id="Fill-3"></path>
                                <path d="M5.44330171,10.1897698 C5.45657345,10.1978065 5.4708661,10.2063454 5.48515874,10.2148844 C5.67861986,10.333425 5.8465584,10.4358923 5.90934394,10.6508727 C6.10790957,11.3309742 7.45345974,13.8670398 9.26301033,13.8670398 C11.0725609,13.8670398 12.4176006,11.3309742 12.6166767,10.6503704 C12.6794622,10.4358923 12.8468903,10.333425 13.0408619,10.2148844 C13.0551546,10.2063454 13.0689367,10.1978065 13.0822085,10.1897698 C13.5661165,9.31377491 13.4681098,8.95614395 13.4247214,8.86522934 C13.3757181,8.76175747 13.2751592,8.72860628 13.2741383,8.72860628 C13.0219752,8.68289783 12.8433172,8.45988077 12.8570994,8.20773086 C12.8576098,8.19718276 12.908655,7.18607165 12.6595546,6.26085224 C12.6355634,6.17747199 12.0112812,4.10702986 9.26301033,4.10702986 C6.48768549,4.10702986 5.87106008,6.2412629 5.86544511,6.2628614 C5.61685523,7.18607165 5.66790038,8.19718276 5.66841083,8.20773086 C5.68219302,8.45988077 5.50353499,8.68289783 5.25137195,8.72860628 C5.24677788,8.73061544 5.14519804,8.76175747 5.09619469,8.87527516 C5.05637947,8.96769664 4.96858181,9.32934592 5.44330171,10.1897698 M9.26301033,14.8716211 C6.80875949,14.8716211 5.32385606,12.0000254 4.98338491,11.0908793 C4.97113407,11.0833449 4.95837278,11.0763129 4.9466324,11.0682762 C4.7929865,10.9743479 4.68170807,10.9070409 4.60462989,10.7734316 C4.0467064,9.80149914 3.90224862,9.01591654 4.17585063,8.44029144 C4.29784854,8.18362091 4.47650656,8.01886957 4.64291375,7.91389082 C4.64546601,7.48845063 4.68221852,6.73551692 4.8792528,6.00367942 C5.15438616,4.99859579 6.42387906,3.10244853 9.26301033,3.10244853 C12.1021416,3.10244853 13.3716345,4.99859579 13.6457469,6.00167025 C13.8438021,6.73501463 13.8805546,7.48794834 13.8831069,7.91389082 C14.0490036,8.01886957 14.2276617,8.18362091 14.3496596,8.44029144 C14.6232616,9.01591654 14.4793143,9.80149914 13.9208803,10.7729293 C13.8443126,10.9070409 13.7330342,10.9743479 13.5788778,11.0682762 C13.5671374,11.0763129 13.5548866,11.0833449 13.5426357,11.0908793 C13.2011437,12.0005277 11.7167507,14.8716211 9.26301033,14.8716211" id="Fill-1"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p>Funcionarios</p></router-link></li>
          <li class="menuLateral_navigation__item"><router-link to="/eventos">
            <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>meetings icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-26.000000, -405.000000)" fill="#9B9B9B">
                        <g id="icons" transform="translate(24.000000, 185.000000)">
                            <g id="meetings-icon" transform="translate(2.000000, 220.000000)">
                                <path d="M5.72240134,8.16124495 C5.74403344,8.17491331 5.76831438,8.1894635 5.79347826,8.20533643 C5.99832107,8.33231989 6.14621405,8.42403017 6.20272241,8.61759178 C6.42345819,9.38390171 7.91783946,12.2317705 9.93889632,12.2317705 C11.9581873,12.2317705 13.453893,9.3834608 13.6746288,8.61891452 C13.7298127,8.42535292 13.8785886,8.33276081 14.0838729,8.20489551 C14.1090368,8.1894635 14.1333177,8.17491331 14.1545084,8.16124495 C14.6957525,7.17668218 14.6105485,6.73709011 14.5469766,6.59158822 C14.4697191,6.41478139 14.3072575,6.37157173 14.2891572,6.36716259 C14.082107,6.31778013 13.9271505,6.12421853 13.9386288,5.91169759 C13.9390702,5.90067472 13.9955786,4.77325555 13.7214247,3.73931032 C13.6949365,3.64319089 13.0013846,1.2913513 9.93889632,1.2913513 C6.85256856,1.2913513 6.16210702,3.71682366 6.15548495,3.74151489 C5.88044816,4.77854653 5.93828094,5.9002338 5.93872241,5.91125667 C5.95152508,6.13303682 5.79656856,6.32924391 5.57804013,6.36936716 C5.56965217,6.37157173 5.40719064,6.41478139 5.32993311,6.59158822 C5.26680268,6.73709011 5.18115719,7.17668218 5.72240134,8.16124495 M9.93889632,13.1136001 C7.50329766,13.1136001 5.80319064,10.1903349 5.39703679,8.99721943 C5.37496321,8.98311015 5.35068227,8.96855996 5.32728428,8.95400978 C5.16835452,8.85568577 5.06328428,8.79043038 4.99441472,8.66741515 C4.40946488,7.63435175 4.25494983,6.80631374 4.53528428,6.20799234 C4.66905017,5.92139771 4.87212709,5.74811819 5.05048161,5.64494413 C5.05004013,5.19785651 5.08270903,4.34336361 5.30256187,3.51356194 C5.3113913,3.48093424 6.18373913,0.409521675 9.93889632,0.409521675 C13.6940535,0.409521675 14.5659599,3.48093424 14.5747893,3.51179828 C14.7950836,4.34292269 14.8277525,5.19785651 14.827311,5.64494413 C15.0052241,5.74811819 15.208301,5.92139771 15.3420669,6.20755142 C15.6224013,6.80631374 15.4674448,7.63435175 14.882495,8.66873789 C14.8140669,8.79043038 14.7089967,8.85524486 14.5500669,8.95356886 C14.5266689,8.96855996 14.5028294,8.98311015 14.4803144,8.99721943 C14.0723946,10.1925395 12.3714047,13.1136001 9.93889632,13.1136001" id="Fill-1"></path>
                                <path d="M13.1235398,13.2524442 C13.0551117,13.2524442 12.9858007,13.2365712 12.9204629,13.2030617 C12.0251585,12.7387784 11.7585097,12.2859589 11.7143625,12.1999805 C11.6031117,11.9834913 11.6883157,11.7176197 11.9050783,11.6065092 C12.1200749,11.4967214 12.3796602,11.5782906 12.4935599,11.7855206 C12.5072455,11.8071254 12.6992856,12.0950428 13.3274997,12.419997 C13.5438207,12.5324303 13.6281418,12.7983019 13.516008,13.0143502 C13.4374261,13.1660249 13.282911,13.2524442 13.1235398,13.2524442" id="Fill-4"></path>
                                <path d="M10.1690355,20.7229961 C5.09034649,20.7229961 0.438560535,19.8790851 0.388674247,19.8698259 C0.171470234,19.8301436 0.0169551839,19.6357001 0.0271090301,19.4152427 C0.237249498,15.0184403 2.9796709,13.6529271 5.02456722,13.0087505 C6.61783813,12.5065486 7.45177793,11.6935017 7.45972441,11.6851243 C7.63322274,11.5140493 7.91267425,11.5149312 8.08396522,11.6877698 C8.25569766,11.8610493 8.25481472,12.1401484 8.08131639,12.3116642 C8.04158395,12.3509057 7.08535652,13.2838814 5.28989164,13.8495751 C3.29797191,14.4774378 1.23938997,15.5938341 0.935216054,19.0686837 C2.25742341,19.2851729 6.76528963,19.9513951 11.3464401,19.8248526 C11.5941057,19.8186798 11.7936508,20.0100368 11.8002729,20.2534218 C11.806895,20.4968068 11.6148548,20.6996276 11.371604,20.7062413 C10.9689819,20.7177051 10.5676843,20.7229961 10.1690355,20.7229961" id="Fill-6"></path>
                                <path d="M14.0077632,14.9747456 L14.0077632,19.8248085 L19.3058635,19.8248085 L19.3054221,14.9747456 L14.0077632,14.9747456 Z M19.3054221,20.7066381 L14.0077632,20.7066381 C13.5208201,20.7066381 13.1248201,20.3111375 13.1248201,19.8248085 L13.1248201,14.9747456 C13.1248201,14.4884166 13.5208201,14.092916 14.0077632,14.092916 L19.3054221,14.092916 C19.7923652,14.092916 20.1883652,14.4884166 20.1883652,14.9747456 L20.1883652,19.8248085 C20.1883652,20.3111375 19.7923652,20.7066381 19.3054221,20.7066381 L19.3054221,20.7066381 Z" id="Fill-9"></path>
                                <path d="M19.3054221,17.1793196 L14.0077632,17.1793196 C13.7636294,17.1793196 13.5662916,16.9817898 13.5662916,16.7384048 C13.5662916,16.4950199 13.7636294,16.29749 14.0077632,16.29749 L19.3054221,16.29749 C19.5495559,16.29749 19.7468936,16.4950199 19.7468936,16.7384048 C19.7468936,16.9817898 19.5495559,17.1793196 19.3054221,17.1793196" id="Fill-12"></path>
                                <path d="M15.3321779,15.8565752 C15.0880441,15.8565752 14.8907064,15.6590454 14.8907064,15.4156604 L14.8907064,13.6520012 C14.8907064,13.4086162 15.0880441,13.2110864 15.3321779,13.2110864 C15.5763117,13.2110864 15.7736495,13.4086162 15.7736495,13.6520012 L15.7736495,15.4156604 C15.7736495,15.6590454 15.5763117,15.8565752 15.3321779,15.8565752" id="Fill-14"></path>
                                <path d="M17.9810074,15.8565752 C17.7368736,15.8565752 17.5395358,15.6590454 17.5395358,15.4156604 L17.5395358,13.6520012 C17.5395358,13.4086162 17.7368736,13.2110864 17.9810074,13.2110864 C18.2251411,13.2110864 18.4224789,13.4086162 18.4224789,13.6520012 L18.4224789,15.4156604 C18.4224789,15.6590454 18.2251411,15.8565752 17.9810074,15.8565752" id="Fill-16"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p>Agenda</p></router-link>
          </li>
          <li class="menuLateral_navigation__item documents"><router-link to="/documentos">
            <svg width="18px" height="22px" viewBox="0 0 18 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>files board icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-27.000000, -478.000000)" fill="#9B9B9B">
                        <g id="icons" transform="translate(24.000000, 185.000000)">
                            <g id="files-board-icon" transform="translate(3.000000, 293.000000)">
                                <path d="M1.40283401,0.949852942 C1.14518016,0.949852942 0.935222672,1.16309493 0.935222672,1.42477941 L0.935222672,20.4218383 C0.935222672,20.6835227 1.14518016,20.8967647 1.40283401,20.8967647 L16.3663968,20.8967647 C16.6240506,20.8967647 16.8340081,20.6835227 16.8340081,20.4218383 L16.8340081,6.37066368 L11.4966923,0.949852942 L1.40283401,0.949852942 Z M16.3663968,21.8466177 L1.40283401,21.8466177 C0.629404858,21.8466177 0,21.2073666 0,20.4218383 L0,1.42477941 C0,0.63925103 0.629404858,0 1.40283401,0 L11.6902834,0 C11.8142004,0 11.9334413,0.0498672795 12.0208846,0.139153456 L17.6322206,5.83827111 C17.7201316,5.92708236 17.7692308,6.04818861 17.7692308,6.17404413 L17.7692308,20.4218383 C17.7692308,21.2073666 17.1398259,21.8466177 16.3663968,21.8466177 L16.3663968,21.8466177 Z" id="Fill-1"></path>
                                <path d="M17.3016194,6.6489706 L11.6902834,6.6489706 C11.4321619,6.6489706 11.2226721,6.43620354 11.2226721,6.17404413 L11.2226721,0.949852942 L12.1578947,0.949852942 L12.1578947,5.69911765 L17.3016194,5.69911765 L17.3016194,6.6489706 Z" id="Fill-3"></path>
                                <path d="M8.88461538,8.07375001 L3.27327935,8.07375001 C3.01515789,8.07375001 2.80566802,7.86098295 2.80566802,7.59882354 C2.80566802,7.33666413 3.01515789,7.12389707 3.27327935,7.12389707 L8.88461538,7.12389707 C9.14273684,7.12389707 9.35222672,7.33666413 9.35222672,7.59882354 C9.35222672,7.86098295 9.14273684,8.07375001 8.88461538,8.07375001" id="Fill-5"></path>
                                <path d="M14.4959514,10.9233088 L3.27327935,10.9233088 C3.01515789,10.9233088 2.80566802,10.7105418 2.80566802,10.4483824 C2.80566802,10.186223 3.01515789,9.9734559 3.27327935,9.9734559 L14.4959514,9.9734559 C14.7540729,9.9734559 14.9635628,10.186223 14.9635628,10.4483824 C14.9635628,10.7105418 14.7540729,10.9233088 14.4959514,10.9233088" id="Fill-7"></path>
                                <path d="M14.4959514,13.7728677 L3.27327935,13.7728677 C3.01515789,13.7728677 2.80566802,13.5601006 2.80566802,13.2979412 C2.80566802,13.0357818 3.01515789,12.8230147 3.27327935,12.8230147 L14.4959514,12.8230147 C14.7540729,12.8230147 14.9635628,13.0357818 14.9635628,13.2979412 C14.9635628,13.5601006 14.7540729,13.7728677 14.4959514,13.7728677" id="Fill-9"></path>
                                <path d="M14.4959514,16.6224265 L3.27327935,16.6224265 C3.01515789,16.6224265 2.80566802,16.4096594 2.80566802,16.1475 C2.80566802,15.8853406 3.01515789,15.6725735 3.27327935,15.6725735 L14.4959514,15.6725735 C14.7540729,15.6725735 14.9635628,15.8853406 14.9635628,16.1475 C14.9635628,16.4096594 14.7540729,16.6224265 14.4959514,16.6224265" id="Fill-11"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p>Documentos</p></router-link>
          </li>
          <li class="menuLateral_navigation__item" v-on:click="clearNotificaciones"><router-link to="/chat">
            <svg width="23px" height="22px" viewBox="0 0 23 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>conversations icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-24.000000, -550.000000)" fill="#9B9B9B">
                        <g id="icons" transform="translate(24.000000, 185.000000)">
                            <g id="conversations-icon" transform="translate(0.000000, 365.000000)">
                                <path d="M14.0873436,21.8272464 C11.6541688,21.8272464 9.33488139,20.6529574 7.88095096,18.6702263 L8.63148712,18.1066241 C9.92905585,19.8751204 11.9169498,20.8855551 14.0868768,20.8855551 L14.1013461,20.8855551 C15.1590046,20.8855551 16.1723218,20.6491906 17.1128258,20.1745782 C17.2864573,20.0874717 17.4964954,20.1209018 17.6383878,20.2541511 C18.3814559,20.9467651 20.2083207,20.8855551 21.4214074,20.7264093 C19.9007315,18.7832293 20.228391,17.0415712 20.2447273,16.9601149 C20.2517285,16.9257432 20.2624638,16.892784 20.2769331,16.8602956 C20.6830068,15.9572137 20.8874439,14.9924509 20.8851101,13.9919039 C20.8813761,12.0661452 20.1140369,10.2816402 18.7254517,8.96656827 L19.3644342,8.27960446 C20.9196497,9.75240966 21.814412,11.8340183 21.8186128,13.9904914 C21.8209466,15.1054539 21.5973727,16.1822779 21.1530254,17.191771 C21.1152185,17.4738075 20.9938632,19.0421944 22.662966,20.7184049 C22.7843213,20.8403539 22.8291295,21.0192753 22.7810541,21.1854838 C22.7325119,21.3507506 22.5980875,21.4764664 22.4305238,21.5127215 C22.051055,21.5941778 18.8463403,22.2307612 17.2617194,21.1468745 C16.2675391,21.6012405 15.2061465,21.8272464 14.1032131,21.8272464 L14.0873436,21.8272464 Z" id="Fill-1"></path>
                                <path d="M6.12979327,15.5246478 C6.20027272,15.5246478 6.27168568,15.5406565 6.33749762,15.5736157 C7.33074447,16.0722413 8.4000718,16.3250854 9.51560751,16.3250854 C13.4685246,16.3250854 16.6844414,13.0630667 16.6844414,9.05381597 C16.6844414,5.04409439 13.4685246,1.78207571 9.51560751,1.78207571 C5.56269039,1.78207571 2.34677364,5.04409439 2.34677364,9.05381597 C2.34677364,10.1099228 2.56427976,11.1269494 2.99415775,12.0780576 C3.00862704,12.1100751 3.01936232,12.1435051 3.02683034,12.1783477 C3.04410014,12.2630999 3.3936969,14.1012814 1.77873725,16.1504016 C2.21748352,16.2083157 2.78832041,16.2629338 3.37596035,16.2629338 C4.54237195,16.2629338 5.38439138,16.0515241 5.81193561,15.6508344 C5.90061836,15.5679656 6.01450569,15.5246478 6.12979327,15.5246478 M9.51560751,17.2667767 C8.35526367,17.2667767 7.23832771,17.024762 6.19233795,16.5468537 C5.56502415,16.9837985 4.62031943,17.2046251 3.3764271,17.2046251 L3.37596035,17.2046251 C2.03545049,17.2046251 0.817696239,16.9494267 0.766820343,16.9385973 C0.598789859,16.9032838 0.463898721,16.7775681 0.415356581,16.6123012 C0.36634769,16.4460927 0.411622571,16.2671714 0.53297792,16.1447515 C2.29309723,14.3691925 2.16053985,12.7108742 2.11899898,12.4109455 C1.65038063,11.3534261 1.41327095,10.2238674 1.41327095,9.05381597 C1.41327095,4.52522248 5.04786366,0.840384404 9.51560751,0.840384404 C13.9833514,0.840384404 17.6179441,4.52522248 17.6179441,9.05381597 C17.6179441,13.5824095 13.9833514,17.2667767 9.51560751,17.2667767" id="Fill-4"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p>Chat</p> <span class="messages_pending" v-show="notificaciones.length != 0"><p>{{ notificaciones.length }}</p></span></router-link>
          </li>
          <li class="menuLateral_navigation__item ajustes" v-show="currentUser.tipoUsuario == 1"><router-link to="/ajustes">
            <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>settings icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-26.000000, -621.000000)" fill="#9B9B9B">
                        <g id="icons" transform="translate(24.000000, 185.000000)">
                            <g id="settings-icon" transform="translate(2.000000, 436.000000)">
                                <path d="M6.05247391,16.9465891 C6.1383,16.9465891 6.22458261,16.9707848 6.2999087,17.0196326 C7.09060435,17.5300239 7.95206087,17.8883935 8.86053913,18.0837848 C9.04086522,18.1225891 9.18056087,18.26685 9.21343043,18.4485457 L9.44306087,19.7121978 C9.48277826,19.9290457 9.67177826,20.0870022 9.89227826,20.0870022 L11.1075391,20.0870022 C11.3284957,20.0870022 11.5170391,19.9290457 11.5567565,19.7117413 L11.786387,18.4485457 C11.8192565,18.26685 11.9589522,18.1225891 12.1392783,18.0837848 C13.0477565,17.8883935 13.909213,17.5300239 14.6999087,17.0196326 C14.8551261,16.9182848 15.0559957,16.9223935 15.2075609,17.02785 L16.2666913,17.7610239 C16.4442783,17.8838283 16.6971913,17.8600891 16.849213,17.7085239 L17.7088435,16.84935 C17.8649739,16.6932196 17.886887,16.4480674 17.760887,16.2668283 L17.027713,15.2072413 C16.922713,15.0552196 16.9195174,14.855263 17.0194957,14.7000457 C17.5303435,13.90935 17.8882565,13.047437 18.0836478,12.1398717 C18.1224522,11.9586326 18.2662565,11.81985 18.4484087,11.7860674 L19.7120609,11.556437 C19.9293652,11.5171761 20.0868652,11.3281761 20.0868652,11.1076761 L20.0868652,9.89241522 C20.0868652,9.6714587 19.9293652,9.4824587 19.7120609,9.4427413 L18.4484087,9.21402391 C18.2662565,9.1802413 18.1224522,9.0414587 18.0836478,8.86021957 C17.8882565,7.95265435 17.5303435,7.0907413 17.0194957,6.30004565 C16.9195174,6.14482826 16.922713,5.94441522 17.027713,5.79239348 L17.760887,4.73326304 C17.886887,4.55202391 17.8649739,4.30687174 17.7088435,4.1507413 L16.849213,3.29156739 C16.6967348,3.14000217 16.4438217,3.11580652 16.2666913,3.23906739 L15.2075609,3.9722413 C15.0559957,4.07769783 14.8555826,4.08135 14.6999087,3.9804587 C13.9087565,3.46961087 13.0477565,3.11169783 12.1392783,2.91630652 C11.9589522,2.87750217 11.8192565,2.7332413 11.786387,2.55154565 L11.5567565,1.28789348 C11.5170391,1.07104565 11.3284957,0.91308913 11.1075391,0.91308913 L9.89227826,0.91308913 C9.67177826,0.91308913 9.48277826,1.07104565 9.44306087,1.28835 L9.21343043,2.55154565 C9.18056087,2.7332413 9.04086522,2.87750217 8.86053913,2.91630652 C7.95251739,3.11169783 7.09106087,3.46961087 6.2999087,3.9804587 C6.1446913,4.08135 5.94427826,4.07769783 5.79271304,3.9722413 L4.73312609,3.23906739 C4.55599565,3.11626304 4.30262609,3.14000217 4.15060435,3.29156739 L3.29143043,4.1507413 C3.1353,4.30687174 3.11338696,4.55202391 3.23893043,4.73326304 L3.97210435,5.79239348 C4.07756087,5.94441522 4.08075652,6.14482826 3.98032174,6.30004565 C3.46993043,7.0907413 3.11201739,7.95265435 2.91616957,8.86021957 C2.87736522,9.0414587 2.73356087,9.1802413 2.55186522,9.21402391 L1.28775652,9.44319783 C1.07045217,9.4824587 0.912952174,9.6714587 0.912952174,9.89241522 L0.912952174,11.1076761 C0.912952174,11.3281761 1.07045217,11.5171761 1.28775652,11.5568935 L2.55186522,11.7860674 C2.73356087,11.81985 2.87736522,11.9586326 2.91616957,12.1398717 C3.11201739,13.047437 3.46993043,13.90935 3.98032174,14.7000457 C4.08075652,14.855263 4.07756087,15.0552196 3.97210435,15.2072413 L3.23893043,16.2668283 C3.11338696,16.4480674 3.1353,16.6932196 3.29143043,16.84935 L4.15060435,17.7085239 C4.30262609,17.8600891 4.55553913,17.8833717 4.73358261,17.7610239 L5.79271304,17.02785 C5.87077826,16.9739804 5.96162609,16.9465891 6.05247391,16.9465891 M11.1075391,21.0000457 L9.89227826,21.0000457 C9.23032174,21.0000457 8.66377826,20.5270891 8.54462609,19.8756326 L8.36886522,18.906437 C7.56036522,18.7019152 6.78838696,18.3809804 6.06616957,17.9486543 L5.25310435,18.5120022 C4.72125652,18.8790457 3.96114783,18.8101109 3.50508261,18.3540457 L2.6459087,17.4948717 C2.17751739,17.026937 2.11132174,16.2914804 2.48795217,15.74685 L3.05084348,14.9342413 C2.61897391,14.2115674 2.29803913,13.4391326 2.09397391,12.6310891 L1.12477826,12.4553283 C0.472865217,12.3366326 -9.13043477e-05,11.7700891 -9.13043477e-05,11.1076761 L-9.13043477e-05,9.89241522 C-9.13043477e-05,9.23000217 0.472865217,8.66300217 1.12477826,8.54521957 L2.09397391,8.36900217 C2.29803913,7.56050217 2.61897391,6.78852391 3.05084348,6.06585 L2.48795217,5.2532413 C2.11132174,4.70815435 2.17751739,3.97315435 2.6459087,3.50521957 L3.50508261,2.64604565 C3.96114783,2.18998043 4.72171304,2.12058913 5.25310435,2.48808913 L6.06616957,3.05143696 C6.78838696,2.61911087 7.56082174,2.29817609 8.36886522,2.09365435 L8.54462609,1.12491522 C8.66377826,0.473002174 9.23032174,4.56521739e-05 9.89227826,4.56521739e-05 L11.1075391,4.56521739e-05 C11.7694957,4.56521739e-05 12.3364957,0.473002174 12.4551913,1.1244587 L12.6314087,2.09365435 C13.4394522,2.29817609 14.2114304,2.61911087 14.9341043,3.05143696 L15.746713,2.48808913 C16.2785609,2.12058913 17.0391261,2.18998043 17.4947348,2.64604565 L18.3543652,3.50521957 C18.8227565,3.97315435 18.8889522,4.70815435 18.5118652,5.2532413 L17.9489739,6.06585 C18.3808435,6.78852391 18.7017783,7.56050217 18.9063,8.36900217 L19.8754957,8.54476304 C20.5269522,8.66300217 20.9999087,9.23000217 20.9999087,9.89241522 L20.9999087,11.1076761 C20.9999087,11.7700891 20.5269522,12.3366326 19.8754957,12.4548717 L18.9063,12.6310891 C18.7017783,13.4391326 18.3808435,14.2115674 17.9489739,14.9342413 L18.5118652,15.74685 C18.8889522,16.2914804 18.8227565,17.026937 18.3543652,17.4948717 L17.4947348,18.3540457 C17.2363435,18.612437 16.8921261,18.7553283 16.5259957,18.7553283 C16.2466043,18.7553283 15.9772565,18.6708717 15.7471696,18.5120022 L14.9341043,17.9486543 C14.211887,18.3809804 13.4394522,18.7019152 12.6314087,18.906437 L12.4551913,19.8751761 C12.3364957,20.5270891 11.7694957,21.0000457 11.1075391,21.0000457" id="Fill-1"></path>
                                <path d="M10.5,7.30434783 C8.73782609,7.30434783 7.30434783,8.73828261 7.30434783,10.5 C7.30434783,12.2617174 8.73782609,13.6956522 10.5,13.6956522 C12.2621739,13.6956522 13.6956522,12.2617174 13.6956522,10.5 C13.6956522,8.73828261 12.2621739,7.30434783 10.5,7.30434783 M10.5,14.6086957 C8.23473913,14.6086957 6.39130435,12.7657174 6.39130435,10.5 C6.39130435,8.23428261 8.23473913,6.39130435 10.5,6.39130435 C12.7652609,6.39130435 14.6086957,8.23428261 14.6086957,10.5 C14.6086957,12.7657174 12.7652609,14.6086957 10.5,14.6086957" id="Fill-4"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p>Ajustes</p></router-link>
          </li>
          <li class="menuLateral_navigation__item micrositios" v-show="currentUser.tipoUsuario == 1"><router-link to="/micrositios">
            <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>settings icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-26.000000, -621.000000)" fill="#9B9B9B">
                        <g id="icons" transform="translate(24.000000, 185.000000)">
                            <g id="settings-icon" transform="translate(2.000000, 436.000000)">
                                <path d="M6.05247391,16.9465891 C6.1383,16.9465891 6.22458261,16.9707848 6.2999087,17.0196326 C7.09060435,17.5300239 7.95206087,17.8883935 8.86053913,18.0837848 C9.04086522,18.1225891 9.18056087,18.26685 9.21343043,18.4485457 L9.44306087,19.7121978 C9.48277826,19.9290457 9.67177826,20.0870022 9.89227826,20.0870022 L11.1075391,20.0870022 C11.3284957,20.0870022 11.5170391,19.9290457 11.5567565,19.7117413 L11.786387,18.4485457 C11.8192565,18.26685 11.9589522,18.1225891 12.1392783,18.0837848 C13.0477565,17.8883935 13.909213,17.5300239 14.6999087,17.0196326 C14.8551261,16.9182848 15.0559957,16.9223935 15.2075609,17.02785 L16.2666913,17.7610239 C16.4442783,17.8838283 16.6971913,17.8600891 16.849213,17.7085239 L17.7088435,16.84935 C17.8649739,16.6932196 17.886887,16.4480674 17.760887,16.2668283 L17.027713,15.2072413 C16.922713,15.0552196 16.9195174,14.855263 17.0194957,14.7000457 C17.5303435,13.90935 17.8882565,13.047437 18.0836478,12.1398717 C18.1224522,11.9586326 18.2662565,11.81985 18.4484087,11.7860674 L19.7120609,11.556437 C19.9293652,11.5171761 20.0868652,11.3281761 20.0868652,11.1076761 L20.0868652,9.89241522 C20.0868652,9.6714587 19.9293652,9.4824587 19.7120609,9.4427413 L18.4484087,9.21402391 C18.2662565,9.1802413 18.1224522,9.0414587 18.0836478,8.86021957 C17.8882565,7.95265435 17.5303435,7.0907413 17.0194957,6.30004565 C16.9195174,6.14482826 16.922713,5.94441522 17.027713,5.79239348 L17.760887,4.73326304 C17.886887,4.55202391 17.8649739,4.30687174 17.7088435,4.1507413 L16.849213,3.29156739 C16.6967348,3.14000217 16.4438217,3.11580652 16.2666913,3.23906739 L15.2075609,3.9722413 C15.0559957,4.07769783 14.8555826,4.08135 14.6999087,3.9804587 C13.9087565,3.46961087 13.0477565,3.11169783 12.1392783,2.91630652 C11.9589522,2.87750217 11.8192565,2.7332413 11.786387,2.55154565 L11.5567565,1.28789348 C11.5170391,1.07104565 11.3284957,0.91308913 11.1075391,0.91308913 L9.89227826,0.91308913 C9.67177826,0.91308913 9.48277826,1.07104565 9.44306087,1.28835 L9.21343043,2.55154565 C9.18056087,2.7332413 9.04086522,2.87750217 8.86053913,2.91630652 C7.95251739,3.11169783 7.09106087,3.46961087 6.2999087,3.9804587 C6.1446913,4.08135 5.94427826,4.07769783 5.79271304,3.9722413 L4.73312609,3.23906739 C4.55599565,3.11626304 4.30262609,3.14000217 4.15060435,3.29156739 L3.29143043,4.1507413 C3.1353,4.30687174 3.11338696,4.55202391 3.23893043,4.73326304 L3.97210435,5.79239348 C4.07756087,5.94441522 4.08075652,6.14482826 3.98032174,6.30004565 C3.46993043,7.0907413 3.11201739,7.95265435 2.91616957,8.86021957 C2.87736522,9.0414587 2.73356087,9.1802413 2.55186522,9.21402391 L1.28775652,9.44319783 C1.07045217,9.4824587 0.912952174,9.6714587 0.912952174,9.89241522 L0.912952174,11.1076761 C0.912952174,11.3281761 1.07045217,11.5171761 1.28775652,11.5568935 L2.55186522,11.7860674 C2.73356087,11.81985 2.87736522,11.9586326 2.91616957,12.1398717 C3.11201739,13.047437 3.46993043,13.90935 3.98032174,14.7000457 C4.08075652,14.855263 4.07756087,15.0552196 3.97210435,15.2072413 L3.23893043,16.2668283 C3.11338696,16.4480674 3.1353,16.6932196 3.29143043,16.84935 L4.15060435,17.7085239 C4.30262609,17.8600891 4.55553913,17.8833717 4.73358261,17.7610239 L5.79271304,17.02785 C5.87077826,16.9739804 5.96162609,16.9465891 6.05247391,16.9465891 M11.1075391,21.0000457 L9.89227826,21.0000457 C9.23032174,21.0000457 8.66377826,20.5270891 8.54462609,19.8756326 L8.36886522,18.906437 C7.56036522,18.7019152 6.78838696,18.3809804 6.06616957,17.9486543 L5.25310435,18.5120022 C4.72125652,18.8790457 3.96114783,18.8101109 3.50508261,18.3540457 L2.6459087,17.4948717 C2.17751739,17.026937 2.11132174,16.2914804 2.48795217,15.74685 L3.05084348,14.9342413 C2.61897391,14.2115674 2.29803913,13.4391326 2.09397391,12.6310891 L1.12477826,12.4553283 C0.472865217,12.3366326 -9.13043477e-05,11.7700891 -9.13043477e-05,11.1076761 L-9.13043477e-05,9.89241522 C-9.13043477e-05,9.23000217 0.472865217,8.66300217 1.12477826,8.54521957 L2.09397391,8.36900217 C2.29803913,7.56050217 2.61897391,6.78852391 3.05084348,6.06585 L2.48795217,5.2532413 C2.11132174,4.70815435 2.17751739,3.97315435 2.6459087,3.50521957 L3.50508261,2.64604565 C3.96114783,2.18998043 4.72171304,2.12058913 5.25310435,2.48808913 L6.06616957,3.05143696 C6.78838696,2.61911087 7.56082174,2.29817609 8.36886522,2.09365435 L8.54462609,1.12491522 C8.66377826,0.473002174 9.23032174,4.56521739e-05 9.89227826,4.56521739e-05 L11.1075391,4.56521739e-05 C11.7694957,4.56521739e-05 12.3364957,0.473002174 12.4551913,1.1244587 L12.6314087,2.09365435 C13.4394522,2.29817609 14.2114304,2.61911087 14.9341043,3.05143696 L15.746713,2.48808913 C16.2785609,2.12058913 17.0391261,2.18998043 17.4947348,2.64604565 L18.3543652,3.50521957 C18.8227565,3.97315435 18.8889522,4.70815435 18.5118652,5.2532413 L17.9489739,6.06585 C18.3808435,6.78852391 18.7017783,7.56050217 18.9063,8.36900217 L19.8754957,8.54476304 C20.5269522,8.66300217 20.9999087,9.23000217 20.9999087,9.89241522 L20.9999087,11.1076761 C20.9999087,11.7700891 20.5269522,12.3366326 19.8754957,12.4548717 L18.9063,12.6310891 C18.7017783,13.4391326 18.3808435,14.2115674 17.9489739,14.9342413 L18.5118652,15.74685 C18.8889522,16.2914804 18.8227565,17.026937 18.3543652,17.4948717 L17.4947348,18.3540457 C17.2363435,18.612437 16.8921261,18.7553283 16.5259957,18.7553283 C16.2466043,18.7553283 15.9772565,18.6708717 15.7471696,18.5120022 L14.9341043,17.9486543 C14.211887,18.3809804 13.4394522,18.7019152 12.6314087,18.906437 L12.4551913,19.8751761 C12.3364957,20.5270891 11.7694957,21.0000457 11.1075391,21.0000457" id="Fill-1"></path>
                                <path d="M10.5,7.30434783 C8.73782609,7.30434783 7.30434783,8.73828261 7.30434783,10.5 C7.30434783,12.2617174 8.73782609,13.6956522 10.5,13.6956522 C12.2621739,13.6956522 13.6956522,12.2617174 13.6956522,10.5 C13.6956522,8.73828261 12.2621739,7.30434783 10.5,7.30434783 M10.5,14.6086957 C8.23473913,14.6086957 6.39130435,12.7657174 6.39130435,10.5 C6.39130435,8.23428261 8.23473913,6.39130435 10.5,6.39130435 C12.7652609,6.39130435 14.6086957,8.23428261 14.6086957,10.5 C14.6086957,12.7657174 12.7652609,14.6086957 10.5,14.6086957" id="Fill-4"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p>Micrositios</p></router-link>
          </li>
          <li class="menuLateral_navigation__item micrositios" v-show="currentUser.tipoUsuario == 1"><router-link to="/convocatorias">
            <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>settings icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-26.000000, -621.000000)" fill="#9B9B9B">
                        <g id="icons" transform="translate(24.000000, 185.000000)">
                            <g id="settings-icon" transform="translate(2.000000, 436.000000)">
                                <path d="M6.05247391,16.9465891 C6.1383,16.9465891 6.22458261,16.9707848 6.2999087,17.0196326 C7.09060435,17.5300239 7.95206087,17.8883935 8.86053913,18.0837848 C9.04086522,18.1225891 9.18056087,18.26685 9.21343043,18.4485457 L9.44306087,19.7121978 C9.48277826,19.9290457 9.67177826,20.0870022 9.89227826,20.0870022 L11.1075391,20.0870022 C11.3284957,20.0870022 11.5170391,19.9290457 11.5567565,19.7117413 L11.786387,18.4485457 C11.8192565,18.26685 11.9589522,18.1225891 12.1392783,18.0837848 C13.0477565,17.8883935 13.909213,17.5300239 14.6999087,17.0196326 C14.8551261,16.9182848 15.0559957,16.9223935 15.2075609,17.02785 L16.2666913,17.7610239 C16.4442783,17.8838283 16.6971913,17.8600891 16.849213,17.7085239 L17.7088435,16.84935 C17.8649739,16.6932196 17.886887,16.4480674 17.760887,16.2668283 L17.027713,15.2072413 C16.922713,15.0552196 16.9195174,14.855263 17.0194957,14.7000457 C17.5303435,13.90935 17.8882565,13.047437 18.0836478,12.1398717 C18.1224522,11.9586326 18.2662565,11.81985 18.4484087,11.7860674 L19.7120609,11.556437 C19.9293652,11.5171761 20.0868652,11.3281761 20.0868652,11.1076761 L20.0868652,9.89241522 C20.0868652,9.6714587 19.9293652,9.4824587 19.7120609,9.4427413 L18.4484087,9.21402391 C18.2662565,9.1802413 18.1224522,9.0414587 18.0836478,8.86021957 C17.8882565,7.95265435 17.5303435,7.0907413 17.0194957,6.30004565 C16.9195174,6.14482826 16.922713,5.94441522 17.027713,5.79239348 L17.760887,4.73326304 C17.886887,4.55202391 17.8649739,4.30687174 17.7088435,4.1507413 L16.849213,3.29156739 C16.6967348,3.14000217 16.4438217,3.11580652 16.2666913,3.23906739 L15.2075609,3.9722413 C15.0559957,4.07769783 14.8555826,4.08135 14.6999087,3.9804587 C13.9087565,3.46961087 13.0477565,3.11169783 12.1392783,2.91630652 C11.9589522,2.87750217 11.8192565,2.7332413 11.786387,2.55154565 L11.5567565,1.28789348 C11.5170391,1.07104565 11.3284957,0.91308913 11.1075391,0.91308913 L9.89227826,0.91308913 C9.67177826,0.91308913 9.48277826,1.07104565 9.44306087,1.28835 L9.21343043,2.55154565 C9.18056087,2.7332413 9.04086522,2.87750217 8.86053913,2.91630652 C7.95251739,3.11169783 7.09106087,3.46961087 6.2999087,3.9804587 C6.1446913,4.08135 5.94427826,4.07769783 5.79271304,3.9722413 L4.73312609,3.23906739 C4.55599565,3.11626304 4.30262609,3.14000217 4.15060435,3.29156739 L3.29143043,4.1507413 C3.1353,4.30687174 3.11338696,4.55202391 3.23893043,4.73326304 L3.97210435,5.79239348 C4.07756087,5.94441522 4.08075652,6.14482826 3.98032174,6.30004565 C3.46993043,7.0907413 3.11201739,7.95265435 2.91616957,8.86021957 C2.87736522,9.0414587 2.73356087,9.1802413 2.55186522,9.21402391 L1.28775652,9.44319783 C1.07045217,9.4824587 0.912952174,9.6714587 0.912952174,9.89241522 L0.912952174,11.1076761 C0.912952174,11.3281761 1.07045217,11.5171761 1.28775652,11.5568935 L2.55186522,11.7860674 C2.73356087,11.81985 2.87736522,11.9586326 2.91616957,12.1398717 C3.11201739,13.047437 3.46993043,13.90935 3.98032174,14.7000457 C4.08075652,14.855263 4.07756087,15.0552196 3.97210435,15.2072413 L3.23893043,16.2668283 C3.11338696,16.4480674 3.1353,16.6932196 3.29143043,16.84935 L4.15060435,17.7085239 C4.30262609,17.8600891 4.55553913,17.8833717 4.73358261,17.7610239 L5.79271304,17.02785 C5.87077826,16.9739804 5.96162609,16.9465891 6.05247391,16.9465891 M11.1075391,21.0000457 L9.89227826,21.0000457 C9.23032174,21.0000457 8.66377826,20.5270891 8.54462609,19.8756326 L8.36886522,18.906437 C7.56036522,18.7019152 6.78838696,18.3809804 6.06616957,17.9486543 L5.25310435,18.5120022 C4.72125652,18.8790457 3.96114783,18.8101109 3.50508261,18.3540457 L2.6459087,17.4948717 C2.17751739,17.026937 2.11132174,16.2914804 2.48795217,15.74685 L3.05084348,14.9342413 C2.61897391,14.2115674 2.29803913,13.4391326 2.09397391,12.6310891 L1.12477826,12.4553283 C0.472865217,12.3366326 -9.13043477e-05,11.7700891 -9.13043477e-05,11.1076761 L-9.13043477e-05,9.89241522 C-9.13043477e-05,9.23000217 0.472865217,8.66300217 1.12477826,8.54521957 L2.09397391,8.36900217 C2.29803913,7.56050217 2.61897391,6.78852391 3.05084348,6.06585 L2.48795217,5.2532413 C2.11132174,4.70815435 2.17751739,3.97315435 2.6459087,3.50521957 L3.50508261,2.64604565 C3.96114783,2.18998043 4.72171304,2.12058913 5.25310435,2.48808913 L6.06616957,3.05143696 C6.78838696,2.61911087 7.56082174,2.29817609 8.36886522,2.09365435 L8.54462609,1.12491522 C8.66377826,0.473002174 9.23032174,4.56521739e-05 9.89227826,4.56521739e-05 L11.1075391,4.56521739e-05 C11.7694957,4.56521739e-05 12.3364957,0.473002174 12.4551913,1.1244587 L12.6314087,2.09365435 C13.4394522,2.29817609 14.2114304,2.61911087 14.9341043,3.05143696 L15.746713,2.48808913 C16.2785609,2.12058913 17.0391261,2.18998043 17.4947348,2.64604565 L18.3543652,3.50521957 C18.8227565,3.97315435 18.8889522,4.70815435 18.5118652,5.2532413 L17.9489739,6.06585 C18.3808435,6.78852391 18.7017783,7.56050217 18.9063,8.36900217 L19.8754957,8.54476304 C20.5269522,8.66300217 20.9999087,9.23000217 20.9999087,9.89241522 L20.9999087,11.1076761 C20.9999087,11.7700891 20.5269522,12.3366326 19.8754957,12.4548717 L18.9063,12.6310891 C18.7017783,13.4391326 18.3808435,14.2115674 17.9489739,14.9342413 L18.5118652,15.74685 C18.8889522,16.2914804 18.8227565,17.026937 18.3543652,17.4948717 L17.4947348,18.3540457 C17.2363435,18.612437 16.8921261,18.7553283 16.5259957,18.7553283 C16.2466043,18.7553283 15.9772565,18.6708717 15.7471696,18.5120022 L14.9341043,17.9486543 C14.211887,18.3809804 13.4394522,18.7019152 12.6314087,18.906437 L12.4551913,19.8751761 C12.3364957,20.5270891 11.7694957,21.0000457 11.1075391,21.0000457" id="Fill-1"></path>
                                <path d="M10.5,7.30434783 C8.73782609,7.30434783 7.30434783,8.73828261 7.30434783,10.5 C7.30434783,12.2617174 8.73782609,13.6956522 10.5,13.6956522 C12.2621739,13.6956522 13.6956522,12.2617174 13.6956522,10.5 C13.6956522,8.73828261 12.2621739,7.30434783 10.5,7.30434783 M10.5,14.6086957 C8.23473913,14.6086957 6.39130435,12.7657174 6.39130435,10.5 C6.39130435,8.23428261 8.23473913,6.39130435 10.5,6.39130435 C12.7652609,6.39130435 14.6086957,8.23428261 14.6086957,10.5 C14.6086957,12.7657174 12.7652609,14.6086957 10.5,14.6086957" id="Fill-4"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p>Convocatorias</p></router-link>
          </li>
          <li class="menuLateral_navigation__item micrositios" v-show="currentUser.tipoUsuario == 1"><router-link to="/transparencia">
            <svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
                <title>settings icon</title>
                <desc>Created with Sketch.</desc>
                <defs></defs>
                <g id="ooto-Productivity-Dashboards" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Funcionarios" transform="translate(-26.000000, -621.000000)" fill="#9B9B9B">
                        <g id="icons" transform="translate(24.000000, 185.000000)">
                            <g id="settings-icon" transform="translate(2.000000, 436.000000)">
                                <path d="M6.05247391,16.9465891 C6.1383,16.9465891 6.22458261,16.9707848 6.2999087,17.0196326 C7.09060435,17.5300239 7.95206087,17.8883935 8.86053913,18.0837848 C9.04086522,18.1225891 9.18056087,18.26685 9.21343043,18.4485457 L9.44306087,19.7121978 C9.48277826,19.9290457 9.67177826,20.0870022 9.89227826,20.0870022 L11.1075391,20.0870022 C11.3284957,20.0870022 11.5170391,19.9290457 11.5567565,19.7117413 L11.786387,18.4485457 C11.8192565,18.26685 11.9589522,18.1225891 12.1392783,18.0837848 C13.0477565,17.8883935 13.909213,17.5300239 14.6999087,17.0196326 C14.8551261,16.9182848 15.0559957,16.9223935 15.2075609,17.02785 L16.2666913,17.7610239 C16.4442783,17.8838283 16.6971913,17.8600891 16.849213,17.7085239 L17.7088435,16.84935 C17.8649739,16.6932196 17.886887,16.4480674 17.760887,16.2668283 L17.027713,15.2072413 C16.922713,15.0552196 16.9195174,14.855263 17.0194957,14.7000457 C17.5303435,13.90935 17.8882565,13.047437 18.0836478,12.1398717 C18.1224522,11.9586326 18.2662565,11.81985 18.4484087,11.7860674 L19.7120609,11.556437 C19.9293652,11.5171761 20.0868652,11.3281761 20.0868652,11.1076761 L20.0868652,9.89241522 C20.0868652,9.6714587 19.9293652,9.4824587 19.7120609,9.4427413 L18.4484087,9.21402391 C18.2662565,9.1802413 18.1224522,9.0414587 18.0836478,8.86021957 C17.8882565,7.95265435 17.5303435,7.0907413 17.0194957,6.30004565 C16.9195174,6.14482826 16.922713,5.94441522 17.027713,5.79239348 L17.760887,4.73326304 C17.886887,4.55202391 17.8649739,4.30687174 17.7088435,4.1507413 L16.849213,3.29156739 C16.6967348,3.14000217 16.4438217,3.11580652 16.2666913,3.23906739 L15.2075609,3.9722413 C15.0559957,4.07769783 14.8555826,4.08135 14.6999087,3.9804587 C13.9087565,3.46961087 13.0477565,3.11169783 12.1392783,2.91630652 C11.9589522,2.87750217 11.8192565,2.7332413 11.786387,2.55154565 L11.5567565,1.28789348 C11.5170391,1.07104565 11.3284957,0.91308913 11.1075391,0.91308913 L9.89227826,0.91308913 C9.67177826,0.91308913 9.48277826,1.07104565 9.44306087,1.28835 L9.21343043,2.55154565 C9.18056087,2.7332413 9.04086522,2.87750217 8.86053913,2.91630652 C7.95251739,3.11169783 7.09106087,3.46961087 6.2999087,3.9804587 C6.1446913,4.08135 5.94427826,4.07769783 5.79271304,3.9722413 L4.73312609,3.23906739 C4.55599565,3.11626304 4.30262609,3.14000217 4.15060435,3.29156739 L3.29143043,4.1507413 C3.1353,4.30687174 3.11338696,4.55202391 3.23893043,4.73326304 L3.97210435,5.79239348 C4.07756087,5.94441522 4.08075652,6.14482826 3.98032174,6.30004565 C3.46993043,7.0907413 3.11201739,7.95265435 2.91616957,8.86021957 C2.87736522,9.0414587 2.73356087,9.1802413 2.55186522,9.21402391 L1.28775652,9.44319783 C1.07045217,9.4824587 0.912952174,9.6714587 0.912952174,9.89241522 L0.912952174,11.1076761 C0.912952174,11.3281761 1.07045217,11.5171761 1.28775652,11.5568935 L2.55186522,11.7860674 C2.73356087,11.81985 2.87736522,11.9586326 2.91616957,12.1398717 C3.11201739,13.047437 3.46993043,13.90935 3.98032174,14.7000457 C4.08075652,14.855263 4.07756087,15.0552196 3.97210435,15.2072413 L3.23893043,16.2668283 C3.11338696,16.4480674 3.1353,16.6932196 3.29143043,16.84935 L4.15060435,17.7085239 C4.30262609,17.8600891 4.55553913,17.8833717 4.73358261,17.7610239 L5.79271304,17.02785 C5.87077826,16.9739804 5.96162609,16.9465891 6.05247391,16.9465891 M11.1075391,21.0000457 L9.89227826,21.0000457 C9.23032174,21.0000457 8.66377826,20.5270891 8.54462609,19.8756326 L8.36886522,18.906437 C7.56036522,18.7019152 6.78838696,18.3809804 6.06616957,17.9486543 L5.25310435,18.5120022 C4.72125652,18.8790457 3.96114783,18.8101109 3.50508261,18.3540457 L2.6459087,17.4948717 C2.17751739,17.026937 2.11132174,16.2914804 2.48795217,15.74685 L3.05084348,14.9342413 C2.61897391,14.2115674 2.29803913,13.4391326 2.09397391,12.6310891 L1.12477826,12.4553283 C0.472865217,12.3366326 -9.13043477e-05,11.7700891 -9.13043477e-05,11.1076761 L-9.13043477e-05,9.89241522 C-9.13043477e-05,9.23000217 0.472865217,8.66300217 1.12477826,8.54521957 L2.09397391,8.36900217 C2.29803913,7.56050217 2.61897391,6.78852391 3.05084348,6.06585 L2.48795217,5.2532413 C2.11132174,4.70815435 2.17751739,3.97315435 2.6459087,3.50521957 L3.50508261,2.64604565 C3.96114783,2.18998043 4.72171304,2.12058913 5.25310435,2.48808913 L6.06616957,3.05143696 C6.78838696,2.61911087 7.56082174,2.29817609 8.36886522,2.09365435 L8.54462609,1.12491522 C8.66377826,0.473002174 9.23032174,4.56521739e-05 9.89227826,4.56521739e-05 L11.1075391,4.56521739e-05 C11.7694957,4.56521739e-05 12.3364957,0.473002174 12.4551913,1.1244587 L12.6314087,2.09365435 C13.4394522,2.29817609 14.2114304,2.61911087 14.9341043,3.05143696 L15.746713,2.48808913 C16.2785609,2.12058913 17.0391261,2.18998043 17.4947348,2.64604565 L18.3543652,3.50521957 C18.8227565,3.97315435 18.8889522,4.70815435 18.5118652,5.2532413 L17.9489739,6.06585 C18.3808435,6.78852391 18.7017783,7.56050217 18.9063,8.36900217 L19.8754957,8.54476304 C20.5269522,8.66300217 20.9999087,9.23000217 20.9999087,9.89241522 L20.9999087,11.1076761 C20.9999087,11.7700891 20.5269522,12.3366326 19.8754957,12.4548717 L18.9063,12.6310891 C18.7017783,13.4391326 18.3808435,14.2115674 17.9489739,14.9342413 L18.5118652,15.74685 C18.8889522,16.2914804 18.8227565,17.026937 18.3543652,17.4948717 L17.4947348,18.3540457 C17.2363435,18.612437 16.8921261,18.7553283 16.5259957,18.7553283 C16.2466043,18.7553283 15.9772565,18.6708717 15.7471696,18.5120022 L14.9341043,17.9486543 C14.211887,18.3809804 13.4394522,18.7019152 12.6314087,18.906437 L12.4551913,19.8751761 C12.3364957,20.5270891 11.7694957,21.0000457 11.1075391,21.0000457" id="Fill-1"></path>
                                <path d="M10.5,7.30434783 C8.73782609,7.30434783 7.30434783,8.73828261 7.30434783,10.5 C7.30434783,12.2617174 8.73782609,13.6956522 10.5,13.6956522 C12.2621739,13.6956522 13.6956522,12.2617174 13.6956522,10.5 C13.6956522,8.73828261 12.2621739,7.30434783 10.5,7.30434783 M10.5,14.6086957 C8.23473913,14.6086957 6.39130435,12.7657174 6.39130435,10.5 C6.39130435,8.23428261 8.23473913,6.39130435 10.5,6.39130435 C12.7652609,6.39130435 14.6086957,8.23428261 14.6086957,10.5 C14.6086957,12.7657174 12.7652609,14.6086957 10.5,14.6086957" id="Fill-4"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <p>Transparencia</p></router-link>
          </li>
          <li class="menuLateral_navigation__item" ><a v-loading.fullscreen.lock="fullscreenLoading" v-on:click="logout">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="21px" height="16px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
            <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
            <g fill="#9B9B9B"><path d="M10,55.3L55.3,10L990,944.7L944.7,990L10,55.3z"/><path d="M10,944.8L944.7,10L990,55.3L55.3,990L10,944.8z"/></g>
            </svg>
            <p>Salir</p></a></li>
        </ul>
      </nav>
      <div class="menuLateral_help">
        <img src="../assets/ayuda.png" alt="">
        <p class="menuLateral_help_title">Necesitas ayuda?</p>
        <p class="menuLateral_help_text">PBX: (+57) 8 681 85 00</p>
        <p class="menuLateral_help_text">Línea: 01 8000 129 202</p>
        <router-link to="/manual">Manual de usuario</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  mounted(){
    this.movedNavigationEffect(this.$route);
  },
  data(){
    return{
      fullscreenLoading: false,
    }
  },
  watch: {
    '$route': function(value){
      this.movedNavigationEffect(value);
    }
  },
  computed: {
    notificaciones(){
      return this.$store.state.notificaciones;
    },
    currentUser(){
      return this.$store.state.currentUser;
    }
  },
  methods:{
    clearNotificaciones(){
      this.$store.state.notificaciones = [];
    },
    toggleMenuLateral(event){
      if(event.target.id == 'menuLateral' || event.target.tagName == 'A' || event.target.id == 'closeMenuLateral'){
        document.getElementById('menuLateral').classList.remove('openMenu')
      }
    },
    movedNavigationEffect(value){
      const mq = window.matchMedia( "(max-width: 800px)" );
      let indicator = document.getElementById('postionInNavigation');
      let height;
      if (mq.matches) {
        height = 16.66667;
      }else{
        height = 8.3;
      }
      if(value.matched[0]){
        switch (value.matched[0].name) {
          case 'Inicio':
          indicator.style.top = `${(height * 0)}%`;
          break;
          case 'Social':
          indicator.style.top = `${(height * 1)}%`;
          break;
          case 'Circulares':
          indicator.style.top = `${(height * 2)}%`;
          break;
          case 'Funcionarios':
          indicator.style.top = `${(height * 3)}%`;
          break;
          case 'Agenda':
          indicator.style.top = `${(height * 4)}%`;
          break;
          case 'Documentos':
          indicator.style.top = `${(height * 5)}%`;
          break;
          case 'Chat':
            if (mq.matches) {
              indicator.style.top = `${(height * 5)}%`;
            } else {
              indicator.style.top = `${(height * 6)}%`;
            }
          break;
          case 'Ajustes':
            if (mq.matches) {
              indicator.style.top = `${(height * 6)}%`;
            } else {
              indicator.style.top = `${(height * 7)}%`;
            }
          break;
          case 'microSitios':
          indicator.style.top = `${(height * 8)}%`;
          break;
        }
      }else{
        indicator.style.top = `${(height * 0)}%`;
      }
    },
    logout(){
      document.getElementById('postionInNavigation').style.top = `${(8.3 * 8)}%`;;
      window.location.href = `${this.$urlHttp}/logout`;
      this.fullscreenLoading = true;
    }
  }
}
</script>

<style scoped>
  #menuLateral{
    position: sticky;
    top: 0;
    z-index: 3;
    transition: .3s;
  }
  .menuLateral{
    position: sticky;
    top: 0;
    left: 0;
    width: 180px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, #f8f8f8, rgba(255, 252, 252, 0.99), #fffcfc);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.11);
    overflow: auto;
    transition: .3s;
  }
  .menuLateral::-webkit-scrollbar{
  	width: 8px;
  	background-color: transparent;
  }
  .menuLateral::-webkit-scrollbar-thumb{
  	border-radius: 5px;
  	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);
  	background-color: #ddd;
  }
  .menuLateral_header_close{
    width: 100%;
    height: 60px;
    display: none;
    flex: none;
    align-items: center;
    padding: 0 20px;
  }
  .menuLateral_header_close i{
    cursor: pointer;
  }
  .menuLateral_web{
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 5px 20px;
    border-radius: 3px;
    box-shadow: 0 1px 5px -2px rgba(0, 0, 0, 0.7);
    margin: 4vh 0;
    transition: .3s;
  }
  .menuLateral_web:hover{
    transform: scale(0.93);
  }
  .menuLateral_navigation{
    width: 100%;
    height: 500px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.4);
  }
  .menuLateral_navigation_list{
    position: relative;
    width: 100%;
    height: 500px;
    list-style: none;
  }
  .menuLateral_navigation__efffect{
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 8.3%;
    border-radius: 0px 16px 16px 0;
    background-color: #4192ec;
    box-shadow: 2px 3px 11px 0 rgba(1, 172, 253, 0.74);
    transition: .3s;
  }
  .menuLateral_navigation__item{
    height: 8.3%;
    display: flex;
    cursor: pointer;
  }
  .menuLateral_navigation__item a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: #4a4a4a;
  }
  .menuLateral_navigation__item a svg{
    width: 35px;
    color: #4a4a4a;
    margin-right: 12px;
    pointer-events: none;
  }
  .menuLateral_navigation__item a:hover g, .menuLateral_navigation__item a:hover{
    fill: #007aff;
    color: #007aff;
  }
  .menuLateral_navigation__item a:focus g, .menuLateral_navigation__item a:focus{
    fill: #007aff;
    color: #007aff;
  }
  .menuLateral_navigation__item p{
    width: 125px;
    pointer-events: none;
  }
  .menuLateral_help{
     margin-top: 50px;
  }
  .menuLateral_help img{
    margin-bottom: 15px;
  }
  .menuLateral_help_title{
    font-size: 13px;
    font-weight: 600;
    color: #4a4a4a;
  }
  .menuLateral_help_text{
    font-size: 13px;
    color: #6487ab;
  }
  .menuLateral_help a{
    font-size: 13px;
    font-weight: 600;
    color: #3b7adb;
  }
  .messages_pending{
    position: absolute;
    right: 20px;
    width: 18px;
    height: 18px;
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    background-color: red;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    border-radius: 50%;
    pointer-events: none;
  }
  .messages_pending p{
    width: initial;
    margin-top: 3px;
  }
  @media(max-width: 800px){
    #menuLateral{
      position: fixed;
      width: 100%;
      background-color: rgba(0,0,0,0.6);
      visibility: hidden;
      opacity: 0;
      z-index: 4;
    }
    .menuLateral{
      position: relative;/
      left: -100%;
      height: 100vh;
    }
    #menuLateral.openMenu{
      visibility: visible;
      opacity: 1;
    }
    #menuLateral.openMenu > .menuLateral{
      top: 0px;
      left: 0px;
    }
    .menuLateral_header_close{
      display: flex;
    }
    .menuLateral_navigation__efffect{
      height: 16.66667%;
    }
    .menuLateral_navigation, .menuLateral_navigation_list{
      height: 340px;
    }
    .menuLateral_navigation__item{
      height: 16.66667%;
    }
    .menuLateral_navigation__item.documents, .menuLateral_navigation__item.micrositios, .menuLateral_navigation__item.ajustes{
      display: none;
    }
  }
</style>
